{#
    v2
#}
{%- macro premise(num, value='', status='', message='') %}
    {% set marker = 'P' ~ num|e -%}
    <tr class="input sentence premise" data-premise-num="{{ num|e }}">
        <td class="status {{ status|e }}" title="{{ message|e }}">
            <span class="premise-marker">{{marker}}</span>
        </td>
        <td>
            <input class="sentence premise" type="text" name="premises[]" value="{{ value|e }}"/>
        </td>
        <td><a class="del-premise" href="javascript:" title="Delete"></a></td>
    </tr>
{%- endmacro -%}

{% macro predicate_symbol(notn, symbol, subscript) -%}
    <span class="predicate-symbol lexicon notation-{{notn|e}} hidden">
        {{- symbol|e }}{% if subscript > 0 %}<sub>{{ subscript|e }}</sub>{% endif -%}
    </span>
{%- endmacro %}

{%- macro predicate_row(index, subscript, arity='') %}
    <tr class="user-predicate">
        <td>
            {{- caller() -}}
            <input type="hidden" class="predicate-symbol" name="user_predicate_symbols[]" value="{{ index|e }}.{{ subscript|e }}"/>
        </td>
        <td colspan="2">
            <input type="text" class="arity" name="user_predicate_arities[]" value="{{ arity|e }}"/>
            <span class="arity-label">arity</span>
            <a href="javascript:" class="right del-predicate" title="Delete">X</a>
        </td>
    </tr>
{%- endmacro -%}

{% macro select_opt(form_data, key, value, defaults = {}) -%}
    {{- ' selected="selected"' if form_data.get(key, defaults.get(key)) == value }}
{%- endmacro %}

{% macro checkbox_default(form_data, key, defaults = {}) -%}
    {% if key in form_data or defaults[key] %} checked="checked"{% endif %}
{%- endmacro %}

{% macro hidden_if(value) -%}
    {% if value %} hidden{% endif %}
{%- endmacro %}