{%- set lwh = lwstdhtm -%}
<div id="lexicons-content" class="lexicons input">
    <label class="heading">Symbols</label>
    <div class="lexicon-panel">
        {%- for notn, table in parser_tables.items() -%}
            <div class="lexicon hidden notation-{{ notn|e }}">
                <span class="label">Atomics</span>
                <ul class="item-symbols">
                    {% for char in table.chars['atomic'] -%}
                        <li>{{ char|e }}</li>
                    {% endfor %}
                </ul>
                <span class="label">Operators</span>
                <table class="operator-symbols">
                    {% for operator in operators_list -%}
                        <tr>
                            <td><span class="operator-symbol">{{ table.char('operator', operator)|e }}</span></td>
                            <td class="html-ref-symbol">{{ lwh(operator) }}</td>
                            <td>{{ operator|e }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="clear"></div>
            </div>
        {% endfor %}
    </div>
    <div class="lexicon-panel">
        {%- for notn, table in parser_tables.items() -%}
            <div class="lexicon hidden notation-{{ notn|e }}">
                <span class="label">Constants</span>
                <ul class="item-symbols">
                    {% for char in table.chars['constant'] -%}
                        <li>{{ char|e }}</li>
                    {% endfor %}
                </ul>
                <span class="label">Variables</span>
                <ul class="item-symbols">
                    {% for char in table.chars['variable'] -%}
                        <li>{{ char|e }}</li>
                    {% endfor %}
                </ul>
                <span class="label">Quantifiers</span>
                <table class="operator-symbols quantifier-symbols">
                    {% for quantifier in quantifiers -%}
                        <tr>
                            <td>
                                <span class="operator-symbol quantifier-symbol">
                                    {{- table.char('quantifier', quantifier)|e -}}
                                </span>
                            </td>
                            <td class="html-ref-symbol">{{ lwh(quantifier) }}</td>
                            <td>{{ quantifier|e }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="clear"></div>
            </div>
        {% endfor %}
        <div class="lexicon predicates">
            <span class="label">Predicates</span>
            <table class="predicates operator-symbols predicate-symbols">
                {% for pred in lexicals.Predicates.System -%}
                    <tr class="system-predicate">
                        <td>
                            {% for notn, table in parser_tables.items() %}
                                {%- set symbol = table.char('system_predicate', pred) -%}
                                {%- set subscript = pred.subscript -%}
                                <span class="predicate-symbol notation-{{ notn|e }} hidden">
                                    {{- symbol|e }}{% if pred.subscript > 0 %}<sub>{{ pred.subscript|e }}</sub>{% endif -%}
                                </span>
                            {% endfor %}
                        </td>
                        <td class="html-ref-symbol">{{ lwh(pred) }}</td>
                        <td>{{ pred.name|e }}</td>
                    </tr>
                {% endfor %}
                {% for label in form_data['user_predicate_symbols[]'] %}
                    {%- set index, subscript = label.split('.')|map('int') -%}
                    {%- set arity = form_data['user_predicate_arities[]'][loop.index0] -%}
                    {%- call helper.predicate_row(index, subscript, name, arity) %}
                        {% for notn, table in parser_tables.items() -%}
                            {{- helper.predicate_symbol(notn, table.char('user_predicate', index), subscript) }}
                        {% endfor -%}
                    {%- endcall -%}
                {%- endfor %}
            </table>{# ⊕ #}
            <div>
                <a href="javascript:" class="add-predicate tooltip" title="Add a predicate">
                    <span class="add-predicate dashes">–  –  –  –  –  –  </span>
                    <span class="add-predicate circ">◯</span><span class="plus">+</span>
                    <span class="add-predicate dashes">  –  –  –  –  –  –</span>
                </a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>