<div class="input select">
    <label for="input_notation">Input Notation</label>
    <select id="input_notation" name="input_notation">
        {% for notn in parser_tables -%}
            <option value="{{ notn|e }}" {{ helper.select_opt(form_data, 'input_notation', notn, form_defaults) }}>
                {{- notn -}}
            </option>
        {% endfor %}
    </select>
</div>
<div class="input select">
    <label for="format">Output Format</label>
    <select id="format" name="format">
        {% for format in tabwriter_formats -%}
            <option value="{{ format }}" {{- 
                helper.select_opt(form_data, 'format', format, form_defaults) 
            }}>
                {{- format|e -}}
            </option>
        {% endfor %}
    </select>
</div>
<div class="input select">
    <label for="output_notation">Output Notation</label>
    <select id="output_notation" name="output_notation">
        {% for notn in Notation -%}
            <option value="{{ notn }}" {{- 
                helper.select_opt(form_data, 'output_notation', notn._name_, form_defaults) 
            }}>
                {{- notn._name_|e -}}
            </option>
        {% endfor %}
    </select>
</div>
<div class="input select">
    <label for="symbol_enc">Output Symbols</label>
    <select id="symbol_enc" name="symbol_enc">
        {% for enc in lexwriter_encodings -%}
            <option value="{{ enc }}" {{- 
                helper.select_opt(form_data, 'symbol_enc', enc, form_defaults) 
            }}>
                {{- enc|e -}}
            </option>
        {% endfor %}
    </select>
</div>
<div class="input">
    <label for="options_show_controls">Controls</label>
    <input type="checkbox" id="options_show_controls" name="show_controls"
        value="true" {{- helper.checkbox_default(form_data, 'show_controls', form_defaults) }}/>
</div>
<div class="input">
    <label for="options_models">Build models</label>
    <input type="checkbox" id="options_models" name="options.models" class="options" value="true" 
        {{- helper.checkbox_default(form_data, 'options.models', form_defaults) }}/>
</div>
<div class="input">
    <label for="options_max_steps">Max steps</label>
    <input type="text" id="options_max_steps" size="5" name="max_steps" value="{{ form_data['max_steps']|e }}"/>
</div>
{% if is_debug -%}
<div class="input">
    <label for="options_rank_optimizations">Rank Optimizations</label>
    <input type="checkbox" id="options_rank_optimizations" name="options.rank_optimizations"
        value="true" {{- helper.checkbox_default(form_data, 'options.rank_optimizations', form_defaults) }}/>
</div>
<div class="input">
    <label for="options_group_optimizations">Group Optimizations</label>
    <input type="checkbox" id="options_group_optimizations" name="options.group_optimizations"
        value="true" {{- helper.checkbox_default(form_data, 'options.group_optimizations', form_defaults) }}/>
</div>
{% endif -%}