<div class="header">
    <a href="/">{{ config.app_name|e }} {{ config.version|e }}</a>
    {% if is_debug %}
        | view: 
        {% for ver in view_versions -%}
            {% if ver != view_version -%}
                <a href="/?v={{ ver|e }}">{{ ver|e }}</a>
            {% else -%}
                <strong>{{ ver|e }}</strong>
            {% endif -%}
        {% endfor %}
        | <a href="/?v={{ view_version|e }}&debug=0">debug</a>
    {% endif %}
    <span class="right">
        <a href="/doc" class="headicon doc tooltip" title="Documentation" target="_blank"></a>
        <a href="{{ config.source_href }}" class="headicon source tooltip" title="Source" target="_blank"></a>
        {%- if config.feedback_enabled %}
            <a href="/feedback" class="headicon feedback tooltip" title="Feedback"></a>
        {%- endif -%}
    </span>
</div>