<div class="header">
    <a href="/">{{ package.name|e }} {{ package.version.display|e }}</a>
    <span class="right">
        <a href="/doc" class="headicon doc tooltip" title="Documentation" target="_blank"></a>
        <a href="{{ package.repository.url }}" class="headicon source tooltip" title="Source" target="_blank"></a>
        {%- if config.feedback_enabled %}
            <a href="/feedback" class="headicon feedback tooltip" title="Feedback"></a>
        {%- endif -%}
    </span>
</div>