{%- if warns -%}
<div class="warns">
    <dl>
        {% for key, msg in warns|items %}
            <dt>{{ key|e }}:</dt>
            <dd>{{ msg|e }}</dd>
        {% endfor %}
    </dl>
    <div class="clear"></div>
</div>
{%- endif -%}