{% if opts['models'] %}
    {%- import 'model.html' as model_helper -%}
{% endif %}
{% set result_class = 'valid' if tableau.valid else 'invalid' %}
<div class="html-writer-controls drag-panel">
    <div class="collapser-wrapper positioned-left controls-wrapper">
        <div class="collapser-heading controls-heading drag-handle collapsed"><span class="heading-title">Controls</span></div>
        <div class="collapser-contents controls-contents hidden">
            <h4 class="part-header">Summary</h4>
            <div class="part-content">
                <ul class="details">
                    <li>
                        <span class="prop">Logic</span>
                        <div class="value">{{ tableau.logic.name|e }} - {{ tableau.logic.title|e }}</div>
                    </li>
                    <li>
                        <span class="prop">Result</span>
                        <div class="value result {{ result_class }}">
                            {{ tableau.stats['result'] }}
                        </div>
                    </li>
                    {% if tableau.argument != None %}
                        <li>
                            <span class="prop">Argument</span>
                            <div class="value">
                                {% for premise in premises -%}
                                    {% if sw.symbol_set.name == 'html' -%}
                                        {{ premise }}
                                    {% else -%}
                                        {{ premise|e }}
                                    {% endif -%}
                                    <br>
                                    {{ '----------<br>' if loop.last -}}
                                {% endfor -%}
                                &there4;
                                {% if sw.symbol_set.name == 'html' -%}
                                    {{ conclusion }}
                                {% else -%}
                                    {{ conclusion|e }}
                                {% endif -%}
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <h4 class="part-header">Stats</h4>
            <div class="part-content">
                <ul class="details">
                    <li>
                        <span class="prop">Branches</span>
                        <div class="value">{{ tableau.stats['branches'] }}</div>
                    </li>
                    <li>
                        <span class="prop">Open Branches</span>
                        <div class="value">{{ tableau.stats['open_branches'] }}</div>
                    </li>
                    <li>
                        <span class="prop">Closed Branches</span>
                        <div class="value">{{ tableau.stats['closed_branches'] }}</div>
                    </li>
                    <li>
                        <span class="prop">Nodes</span>
                        <div class="value">{{ tableau.stats['distinct_nodes'] }}</div>
                    </li>
                    <li>
                        <span class="prop">Rules Applied</span>
                        <div class="value">{{ tableau.stats['rules_applied'] }}</div>
                    </li>
                </ul>
            </div>
            <h4 class="part-header">Step</h4>
            <div class="part-content">
                <ul class="details">
                    <li>
                        <span class="prop">Step</span>
                        <div class="value">
                            <a class="button step-start" href="javascript:">B</a>
                            <a class="button step-prev" href="javascript:">&lt;</a>
                            <input type="text" size="{{ tableau.history|length|string|length + 1 }}" class="step-input" value="{{ tableau.history|length }}">
                            <a class="button step-next" href="javascript:">&gt;</a>
                            <a class="button step-end" href="javascript:">E</a>
                        </div>
                    </li>
                    <li>
                        <span class="prop">Rule</span>
                        <div class="value">
                            <a class="step-rule-name {{- helper.hidden_if(tableau.history|length) }}" data-step="0" href="javascript:">Build Trunk</a>
                            {% for application in tableau.history %}
                                {% set rule_name = application['rule'].__class__.__name__ %}
                                <a class="step-rule-name{% if not loop.last %} hidden{% endif %}" data-step="{{ loop.index }}" href="javascript:">{{ rule_name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li>
                        <span class="prop">Target</span>
                        <div class="value">
                            <a class="step-rule-target {{- helper.hidden_if(tableau.history|length) }}" data-target-type="argument" data-step="0" href="javascript:">Argument</a>
                            {% for application in tableau.history %}
                                {% set target = application['target'] %}
                                <a class="step-rule-target{% if not loop.last %} hidden{% endif %}"
                                    data-target-type="{{ target['type'] }}"
                                    {% if 'node' in target %}
                                        data-node-id="{{ target['node'].id }}"
                                    {% elif 'nodes' in target %}
                                        data-node-ids="{% for node in target['nodes'] %},{{ node.id }}{% endfor %}"
                                    {% endif %}
                                    {% if 'branch' in target %}
                                        data-branch-node-id="{{ target['branch'].leaf.id }}"
                                    {% endif %}
                                    data-step="{{ loop.index }}" href="javascript:">{{ target['type']|e }}</a>
                            {% endfor %}
                        </div>
                    </li>
                </ul>
            </div>
            <h4 class="part-header">Filter</h4>
            <div class="part-content">
                <ul class="details">
                    <li>
                        <span class="prop">Branch Filter</span>
                        <div class="value">
                            {% set can_filter = tableau.tree['has_open'] and tableau.tree['has_closed'] %}
                            <select class="branch-filter"{% if not can_filter %} disabled="disabled"{% endif %}>
                                <option value="all">(A)ll Branches</option>
                                {% if can_filter %}
                                    <option value="open">(O)pen Branches</option>
                                    <option value="closed">(C)losed Branches</option>
                                {% endif %}
                            </select>
                        </div>
                    </li>
                </ul>
            </div>
            <h4 class="part-header">Display</h4>
            <div class="part-content">
                <ul class="details">
                    <li>
                        <span class="prop">Width</span>
                        <div class="value">
                            <a class="button width-minus-minus" href="javascript:">{</a>
                            <a class="button width-minus" href="javascript:">[</a>
                            <a class="button width-reset" href="javascript:">|</a>
                            <a class="button width-plus" href="javascript:">]</a>
                            <a class="button width-plus-plus" href="javascript:">}</a>
                        </div>
                    </li>
                    <li>
                        <span class="prop">Font</span>
                        <div class="value">
                            <a class="button font-minus" href="javascript:">-</a>
                            <a class="button font-reset" href="javascript:">=</a>
                            <a class="button font-plus" href="javascript:">+</a>
                        </div>
                    </li>
                    <li>
                        <span class="prop">Controls Position</span>
                        <div class="value">
                            <select class="controls-position position-select">
                                <option value="left" selected="selected">Left</option>
                                <option value="right">Right</option>
                            </select>
                        </div>
                    </li>
                </ul>
            </div>
            {% if opts['models'] -%}
                <h4 class="part-header">Model</h4>
                <div class="part-content">
                    <div class="html-writer-models {{- ' single-branch inspected' if tableau.stats['branches'] == 1 }}">
                        <!-- <div class="message wip">NB: models are a work in progress</div>-->
                        {% if tableau.stats['open_branches'] > 0 %}
                            <div class="message select-a-branch">Select an open branch to view model</div>
                            {% for branch in tableau.open_branches() %}
                                {{ model_helper.write_model(sw, branch) }}
                            {% endfor %}
                        {% else %}
                            <div class="message no-models">No open branches</div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>