<div class="html-writer-controls drag-panel">
    <div class="collapser-wrapper positioned-left controls-wrapper">
        <div class="collapser-heading controls-heading drag-handle collapsed" title="Controls"><span class="heading-title">Controls</span></div>
        <div class="collapser-contents controls-contents hidden">
            <h4 class="part-header">Summary</h4>
            <div class="part-content">
                <ul class="details">
                    <li>
                        <span class="prop">Logic</span>
                        <div class="value">{{ tableau.logic.name|e }} - {{ tableau.logic.Meta.title|e }}</div>
                    </li>
                    <li>
                        <span class="prop">Result</span>
                        <div class="value result {{ tableau['stats']['result']|lower|e }}">
                            {{ tableau.stats['result']|e }}
                        </div>
                    </li>
                    {% if tableau.argument != None %}
                        <li>
                            <span class="prop">Argument</span>
                            <div class="value">
                                {% for premise in premises -%}
                                    {% if sw.symbol_set.name == 'html' -%}
                                        {{ premise }}
                                    {% else -%}
                                        {{ premise|e }}
                                    {% endif -%}
                                    <br>
                                    {{ '----------<br>' if loop.last -}}
                                {% endfor -%}
                                &there4;
                                {% if sw.symbol_set.name == 'html' -%}
                                    {{ conclusion }}
                                {% else -%}
                                    {{ conclusion|e }}
                                {% endif -%}
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <h4 class="part-header">Stats</h4>
            <div class="part-content">
                <ul class="details">
                    <li>
                        <span class="prop">Branches</span>
                        <div class="value">{{ tableau.stats['branches']|e }}</div>
                    </li>
                    <li>
                        <span class="prop">Open Branches</span>
                        <div class="value">{{ tableau.stats['open_branches']|e }}</div>
                    </li>
                    <li>
                        <span class="prop">Closed Branches</span>
                        <div class="value">{{ tableau.stats['closed_branches']|e }}</div>
                    </li>
                    <li>
                        <span class="prop">Nodes</span>
                        <div class="value">{{ tableau.stats['distinct_nodes']|e }}</div>
                    </li>
                    <li>
                        <span class="prop">Rules Applied</span>
                        <div class="value">{{ tableau.stats['rules_applied']|e }}</div>
                    </li>
                    <li>
                        <span class="prop">Duration</span>
                        <div class="value">{{ tableau.stats['build_duration_ms']|e }}ms</div>
                    </li>
                    <li>
                        <span class="prop">Overhead</span>
                        <div class="value">{{ (tableau.stats['build_duration_ms'] - tableau.stats['rules_duration_ms'])|e }}ms</div>
                    </li>
                </ul>
            </div>
            <h4 class="part-header">Step</h4>
            <div class="part-content">
                <ul class="details">
                    <li>
                        <span class="prop">Step</span>
                        <div class="value">
                            <a class="button step-start" href="javascript:">B</a>
                            <a class="button step-prev" href="javascript:">&lt;</a>
                            <input type="text" size="{{ tableau.history|length|string|length + 1 }}" class="step-input" value="{{ tableau.history|length }}">
                            <a class="button step-next" href="javascript:">&gt;</a>
                            <a class="button step-end" href="javascript:">E</a>
                        </div>
                    </li>
                    <li>
                        <span class="prop">Rule</span>
                        <div class="value">
                            <a class="step-rule-name step-rule-datum {{- helper.hidden_if(tableau.history|length) }}" data-step="0" href="javascript:">Build Trunk</a>
                            {% for application in tableau.history %}
                                {% set rule_name = application['rule'].name %}
                                <a class="step-rule-name step-rule-datum {{- helper.hidden_if(not loop.last) }}" data-step="{{ loop.index }}" href="javascript:">{{ rule_name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li>
                        <span class="prop">Target</span>
                        <div class="value">
                            <a class="step-rule-target step-rule-datum {{- helper.hidden_if(tableau.history|length) }}"
                                data-target-type="argument" data-step="0" href="javascript:">Argument</a>
                            {% for application in tableau.history %}
                                {% set target = application['target'] %}
                                <a class="step-rule-target step-rule-datum {{- helper.hidden_if(not loop.last) }}"
                                    data-target-type="{{ target['type'] }}"
                                    {% if 'node' in target %}
                                        data-node-id="{{ target['node'].id }}"
                                    {% endif %}
                                    {% if 'nodes' in target %}
                                        data-node-ids="{% for node in target['nodes'] %},{{ node.id }}{% endfor %}"
                                    {% endif %}
                                    {% if 'branch' in target %}
                                        data-branch-node-id="{{ target['branch'].leaf.id }}"
                                    {% endif %}
                                    data-step="{{ loop.index }}" href="javascript:">{{ target['type']|e }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    {% if opts['debug'] -%}
                        <li>
                            <span class="prop">Group Score</span>
                            <div class="value">
                                <span class="step-rule-group-score step-rule-datum {{- helper.hidden_if(tableau.history|length) }}"
                                    data-step="0">n/a</span>
                                {%- for application in tableau.history %}
                                    {% set target = application['target'] %}
                                    <span class="step-rule-group-score step-rule-datum {{- helper.hidden_if(not loop.last) }}" data-step="{{ loop.index }}">
                                        {% if target['is_group_optim'] -%}
                                            {{- target['group_score']|round(2) }} (min score: {{ target['min_group_score']|round(2) }}) of {{ target['total_group_targets']|e }} total
                                        {% else -%}
                                            n/a
                                        {% endif -%}
                                    </span>
                                {%- endfor %}
                            </div>
                        </li>
                        <li>
                            <span class="prop">Rank</span>
                            <div class="value">
                                <span class="step-rule-candidate-score step-rule-datum {{- helper.hidden_if(tableau.history|length) }}"
                                    data-step="0">n/a</span>
                                {%- for application in tableau.history %}
                                    {% set target = application['target'] %}
                                    <span class="step-rule-candidate-score step-rule-datum {{- helper.hidden_if(not loop.last) }}" data-step="{{ loop.index }}">
                                        {% if target['is_rank_optim'] -%}
                                            {{- target['candidate_score']|round(2) }} (min score: {{ target['min_candidate_score']|round(2) }}) of {{ target['total_candidates']|e }} total
                                        {% else -%}
                                            n/a
                                        {% endif -%}
                                    </span>
                                {%- endfor %}
                            </div>
                        </li>
                        <li>
                            <span class="prop">Duration</span>
                            <div class="value">
                                <span class="step-rule-duration step-rule-datum {{- helper.hidden_if(tableau.history|length) }}"
                                    data-step="0">{{ tableau.stats['trunk_duration_ms']|e }}</span>
                                {%- for application in tableau.history %}
                                    <span class="step-rule-duration step-rule-datum {{- helper.hidden_if(not loop.last) }}" data-step="{{ loop.index }}">
                                        {{- application['duration_ms']|e }}ms
                                    </span>
                                {%- endfor %}
                            </div>
                        </li>
                    {% endif -%}
                </ul>
            </div>
            <h4 class="part-header">Filter</h4>
            <div class="part-content">
                <ul class="details">
                    <li>
                        <span class="prop">Branch Filter</span>
                        <div class="value">
                            {% set can_filter = tableau.tree['has_open'] and tableau.tree['has_closed'] %}
                            <select class="branch-filter"{% if not can_filter %} disabled="disabled"{% endif %}>
                                <option value="all">(A)ll Branches</option>
                                {% if can_filter %}
                                    <option value="open">(O)pen Branches</option>
                                    <option value="closed">(C)losed Branches</option>
                                {% endif %}
                            </select>
                        </div>
                    </li>
                </ul>
            </div>
            <h4 class="part-header">Display</h4>
            <div class="part-content">
                <ul class="details">
                    <li>
                        <span class="prop">Width</span>
                        <div class="value">
                            <a class="button width-minus-minus" href="javascript:">{</a>
                            <a class="button width-minus" href="javascript:">[</a>
                            <a class="button width-reset" href="javascript:">|</a>
                            <a class="button width-plus" href="javascript:">]</a>
                            <a class="button width-plus-plus" href="javascript:">}</a>
                        </div>
                    </li>
                    <li>
                        <span class="prop">Font</span>
                        <div class="value">
                            <a class="button font-minus" href="javascript:">-</a>
                            <a class="button font-reset" href="javascript:">=</a>
                            <a class="button font-plus" href="javascript:">+</a>
                        </div>
                    </li>
                    {%- if tableau.tree['has_open'] %}
                        <li>
                            <span class="prop">Color Branches</span>
                            <div class="value">
                                <input type="checkbox" class="color-open" {{- ' checked' if opts['color_open'] }}/>
                            </div>
                        </li>
                    {%- endif %}
                    <li>
                        <span class="prop">Controls Position</span>
                        <div class="value">
                            <select class="controls-position position-select">
                                <option value="left" selected="selected">Left</option>
                                <option value="right">Right</option>
                            </select>
                        </div>
                    </li>
                    {% if opts['models'] %}
                        <li>
                            <span class="prop">Models Position</span>
                            <div class="value">
                                <select class="models-position position-select">
                                    <option value="left" selected="selected">Left</option>
                                    <option value="right">Right</option>
                                </select>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>