<style type="text/css">
    .html-writer .node, .html-writer .closeMark {
        text-align: center;
        margin: 3px 0;
    }
    .html-writer .node-props {
        padding: 5px;
        display: inline-block;
    }
    .html-writer .node.ticked .node-props {
        border: 1px solid black;
    }
    .html-writer .child-wrapper {
        float: left;
    }
    .html-writer .vertical-line, .horizontal-line {
        margin: 0 auto;
    }
    .html-writer .horizontal-line {
        border-bottom: 1px solid black;
        margin-bottom: -1px;
    }
    .html-writer .vertical-line {
        border-right: 1px solid black;
        height: 10px;
        width: 1px;
    }
    .html-writer .subscript {
        vertical-align: sub;
        font-size: 80%;
    }
    .html-writer .world {
        font-style: italic;
    }
</style>