<style type="text/css">
    .html-writer {
        cursor: pointer;
    }
    .html-writer .node, .html-writer .closeMark {
        text-align: center;
        margin: 3px 0;
    }
    .html-writer .node-props {
        padding: 5px;
        display: inline-block;
    }
    .html-writer .node.ticked .node-props {
        border: 1px solid black;
    }
    .html-writer .child-wrapper {
        float: left;
    }
    .html-writer .vertical-line, .horizontal-line {
        margin: 0 auto;
    }
    .html-writer .horizontal-line {
        border-bottom: 1px solid black;
        margin-bottom: -1px;
    }
    .html-writer .vertical-line {
        border-right: 1px solid black;
        height: 10px;
        width: 1px;
    }
    .html-writer .subscript {
        vertical-align: sub;
        font-size: 80%;
    }
    .html-writer .world {
        font-style: italic;
    }
    .html-writer .node.has_open {
        color: red;
    }
</style>
<script>
    ;(function() {
        if (typeof($) != 'function') {
            console.log('jQuery not loaded. Not initializing interactive handlers.')
            return
        }

        function zoomToStructure($structure, $proof) {
            if (!$proof)
                $proof = $structure.closest('.html-writer-proof')
            if ($structure.hasClass('zoomed'))
                return
            var thisLeft = +$structure.attr('data-left')
            var thisRight = +$structure.attr('data-right')
            $('.structure', $proof).each(function(i, s) {
                var $s = $(s)
                var left = +$s.attr('data-left')
                var right = +$s.attr('data-right')
                var isOutside = (left > thisLeft && right > thisRight) || (left < thisLeft && right < thisRight)
                var isAncestor = left < thisLeft && right > thisRight
                var isSelf = left == thisLeft && right == thisRight
                var isDescendant = left > thisLeft && right < thisRight
                if (isSelf || isAncestor) {
                    $s.closest('.child-wrapper').css('width', '100%')
                    if (!$s.is(':visible'))
                        $s.show(400)
                } else if (isDescendant) {
                    var $cw = $s.closest('.child-wrapper')
                    var origWidth = $cw.attr('data-orig-width')
                    $cw.css('width', origWidth)
                    if (!$s.is(':visible'))
                        $s.show(400)
                } else if (isOutside) {
                    if ($s.is(':visible'))
                        $s.hide(200)
                }
                if (isSelf || isDescendant) {
                    var $hl = $('.horizontal-line', $s)
                    if ($hl.length) {
                        var origWidth = $hl.attr('data-orig-width')
                        var origMarginLeft = $hl.attr('data-orig-margin-left')
                        $hl.css({borderBottomStyle: 'solid'}).animate({width: origWidth, marginLeft: origMarginLeft}, 200)
                    }
                } else if (isAncestor) {
                    var $hl = $('.horizontal-line', $s)
                    if ($hl.length) {
                        $hl.css({marginLeft: 'auto', borderBottomStyle: 'dotted'}).animate({width: '200px'}, 200)
                    }
                }
                $s.removeClass('zoomed')
            })
            $structure.addClass('zoomed')
        }

        $(document).ready(function() {
            $('.html-writer-proof').on('click', function(e) {
                var $proof = $(this)
                var $target = $(e.target)
                var $structure = $target.closest('.structure')
                if ($structure.length) {
                    zoomToStructure($structure, $proof)
                }
            })
        })
    })();
</script>