{% macro write_model(sw, branch) -%}
    {% set model = branch.model -%}
    {% set data = model.get_data() -%}
    <div class="model" data-model-id="{{ model.id|e }}" data-branch-id="{{ branch.id|e }}">
        <ul class="details">
            <li>
                <div class="prop">Is countermodel</div>
                <div class="value">
                    <span class="is-countermodel {{ bool_to_yn(model.is_countermodel)|lower }}">{{ bool_to_yn(model.is_countermodel) }}</span>
                </div>
            </li>
            {% for key in data -%}
                {% set info = data[key] -%}
                <li>
                    <div class="prop">{{ key|e }}</div>
                    <div class="value">{{ write_info(sw, info) }}</div>
                </li>
            {% endfor -%}
        </ul>
    </div>
{% endmacro -%}

{%- macro bool_to_yn(value) -%}
    {{- 'Yes' if value else 'No' -}}
{%- endmacro -%}

{% macro write_info(sw, info) -%}
    {% if info ['datatype'] == 'set' -%}
        {{ write_set(sw, info['values'], info['member_datatype'], typehint=info['typehint'], member_typehint=info['member_typehint'], symbol=info['symbol']) }}
    {% elif info['datatype'] == 'function' -%}
        {{ write_function(sw, info['values'], info['input_datatype'], info['output_datatype'], input_typehint=info['input_typehint'], output_typehint=info['output_typehint'], typehint=info['typehint'], symbol=info['symbol']) }}
    {% elif info['datatype'] == 'map' -%}
        {{ write_map(sw, info['value']) }}
    {% elif info['datatype'] == 'list' -%}
        {{ write_list(sw, info['values'], info['member_datatype'], typehint=info['typehint'], member_typehint=info['member_typehint'], symbol=info['symbol']) }}
    {% else %}
        {{ write_item(sw, info['value'], info['datatype'], typehint=info['typehint'], symbol=info['symbol']) }}
    {% endif -%}
{% endmacro -%}

{% macro write_map(sw, data) -%}
    <div class="map {{ 'non-empty' if data|length else 'empty'}}">
        {% if data|length -%}
            <ul class="values">
                {% for key in data -%}
                    {% set info = data[key] -%}
                    <li>
                        <div class="prop">{{ key|e }}</div>
                        <div class="value">{{ write_info(sw, info) }}</div>
                    </li>
                {% endfor -%}
            </ul>
        {% endif -%}
    </div>
{% endmacro -%}

{% macro write_set(sw, values, member_datatype, typehint=None, member_typehint=None, symbol=None) -%}
    <div class="set
        {{- ' non-empty' if values|length else ' empty' -}}
        {{- ' ' + typehint|e if typehint -}}
        ">
        {%- if symbol -%}
            <span class="symbol">{{ symbol| e }}</span>
        {%- endif -%}
        <div class="values
            {{- ' ' + member_typehint|e if member_typehint -}}
            ">
            {%- if member_typehint == 'world' -%}
                {%- for w in values -%}
                    {{- write_world(w, loop.last) -}}
                {%- endfor -%}
            {%- elif member_typehint == 'access' -%}
                {%- for worlds in values -%}
                    {{ write_access_tuple(worlds) -}}
                    {{ ',' if not loop.last -}}
                {%- endfor -%}
            {%- elif typehint == 'extension' -%}
                {%- for params in values -%}
                    {{ write_params_tuple(sw, params) -}}
                    {{ ',' if not loop.last -}}
                {%- endfor -%}
            {%- else -%}
                ...0
            {%- endif -%}
        </div>
    </div>
{% endmacro -%}

{%- macro write_list(sw, values, member_datatype, typehint=None, member_typehint=None, symbol=None) -%}
    <div class="list
        {{- ' non-empty' if values|length else ' empty' -}}
        {{- ' ' + typehint|e if typehint -}}">
        {%- if values|length -%}
            <ul class="values
                {{- ' ' + member_typehint|e if member_typehint -}}
                ">
                {%- for value in values -%}
                    <li>
                        {%- if symbol -%}
                            <span class="symbol">{{ symbol|e }}<span class="subscript">{{ loop.index0 }}</span></span>
                        {%- endif -%}
                        {{- write_info(sw, value) -}}
                    </li>
                {%- endfor -%}
            </ul>
        {%- elif symbol -%}
            <span class="symbol">{{ symbol|e }}</span>
        {%- endif %}
    </div>
{%- endmacro -%}

{% macro write_function(sw, values, input_datatype, output_datatype, input_typehint=None, output_typehint=None, typehint=None, symbol=None) -%}
    <div class="function
        {{- ' non-empty' if values|length else ' empty' -}}
        {{- ' ' + typehint|e if typehint -}}
        ">
        {%- if values|length -%}
            <ul class="values">
                {%- for value in values -%}
                    <li>
                        {%- if symbol -%}
                            <span class="symbol">{{ symbol| e }}</span>
                        {%- endif -%}
                        <span class="input {{- ' ' + input_typehint|e if input_typehint }}">
                            {{- write_item(sw, value['input'], input_datatype, typehint=input_typehint) -}}
                        </span>
                        {{- '' -}}
                        <div class="output {{- ' ' + output_typehint|e if output_typehint }}">
                            {{- write_item(sw, value['output'], output_datatype, typehint=output_typehint) -}}
                        </div>
                    </li>
                {%- endfor -%}
            </ul>
        {%- endif %}
    </div>
{%- endmacro -%}

{%- macro write_params_tuple(sw, params) -%}
    <div class="tuple">
        {{- '' -}}
        <div class="values">
            {%- for param in params -%}
                {{ sw.write_parameter(param) if sw.symbol_set.name == 'html' else sw.write_parameter(param)|e -}}
                {{ ', ' if not loop.last -}}
            {%- endfor -%}
        </div>
        {{- '' -}}
    </div>
{%- endmacro -%}

{%- macro write_access_tuple(worlds) -%}
    <div class="tuple">
        {{- '' -}}
        <div class="values">
            {%- for w in worlds -%}
                {{ write_world(w, loop.last) }}
            {%- endfor -%}
        </div>
        {{- '' -}}
    </div>
{%- endmacro -%}


{%- macro write_item(sw, item, datatype, typehint=None, symbol=None) -%}
    {%- if symbol -%}
        <span class="symbol">{{ symbol| e }}</span>
    {%- endif -%}
    {%- if typehint == 'world' -%}
        {{ write_world(item, True) -}}
    {%- elif typehint == 'extension' -%}
        {{ write_set(sw, item, 'tuple', typehint=typehint) -}}
    {%- elif datatype == 'predicate' -%}
        {{ sw.write_predicate(item) if sw.symbol_set.name == 'html' else sw.write_predicate(item)|e -}}
    {%- elif datatype == 'sentence' -%}
        {{ sw.write(item) if sw.symbol_set.name == 'html' else sw.write(item)|e -}}
    {%- else -%}
        {{ item|e -}}
    {%- endif -%}
{%- endmacro -%}


{%- macro write_world(subscript, is_last) -%}
    <span class="world">w<span class="subscript">{{ subscript|e }}</span></span>{{ ', ' if not is_last -}}
{%- endmacro -%}