{% macro write_structure(structure, is_child = False) -%}
    <div class="html-writer structure">
        {% if is_child %}
            <div class="vertical-line"></div>
        {% endif %}
        {% for node in structure['nodes'] %}
            {% set node_class = '' %}
            {% if structure['has_open'] and opts['highlight_open'] %}
                {% set node_class = 'has_open' %}
            {% endif %}
            <div class="node {% if node.ticked %}ticked{% endif %} {{ node_class }}">
                <span class="node-props">
                    {% if 'sentence' in node.props %}
                        <span class="sentence">
                            {{ writer.write(node.props['sentence'], symbol_set = 'html') }}
                        </span>
                        {% if 'world' in node.props and node.props['world'] != None %}
                            <span class="world">, w<span class="subscript">{{ node.props['world'] }}</span></span>
                        {% endif %}
                    {% endif %}
                    {% if 'designated' in node.props and node.props['designated'] != None %}
                        <span class="designation {% if not node.props['designated'] %}un{% endif %}designated">
                            {% if node.props['designated'] %} &oplus;{% else %} &ominus;{% endif %}
                        </span>
                    {% endif %}
                    {% if 'world1' in node.props and 'world2' in node.props %}
                        <span class="access">w<span class="subscript">{{ node.props['world1'] }}</span>Rw<span class="subscript">{{ node.props['world2'] }}</span></span>
                    {% endif %}
                </span>
            </div>
        {% endfor %}
        {% if structure['closed'] %}
            <div class="closeMark">&otimes;</div>
        {% endif %}
        {% if structure['children']|length %}
            <div class="vertical-line"></div>
            {% set width = 100 * structure['balanced_line_width'] %}
            {% set margin = 100 * structure['balanced_line_margin'] %}
            <div class="horizontal-line" style="width: {{ width }}%; margin-left: {{ margin }}%;"></div>
            {% for child in structure['children'] %}
                {% set child_width = (100 / structure['width']) * child['width'] %}
                <div class="child-wrapper" style="width: {{ child_width }}%;">
                    {{ write_structure(child, is_child = True) }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{%- endmacro %}
{{ write_structure(tableau.tree) }}
<div style="clear: both"></div>