{% macro write_structure(sw, structure, is_child = False) -%}
    <div class="structure 
        {{- ' zoomed' if not is_child -}}
        {{- ' has-open' if structure['has_open'] -}}
        {{- ' has-closed' if structure['has_closed'] -}}
        {{- ' leaf' if structure['leaf'] -}}
        {{- ' inspected' if structure['is_only_branch'] -}}"
        data-depth="{{ structure['depth'] }}"
        data-width="{{ structure['width'] }}"
        data-left="{{ structure['left'] }}" 
        data-right="{{ structure['right'] }}"
        data-step="{{ structure['step'] }}"
        data-branch-id="{{ structure['branch_id'] }}"
        data-model-id="{{ structure['model_id'] if structure['model_id'] }}">
        <div class="node-segment">
        {% if is_child %}
            <div class="vertical-line" data-step="{{ structure['step'] }}"></div>
        {% endif %}
        {% for node in structure['nodes'] %}
            <div class="node{% if node.ticked %} ticked{% endif %}"
                data-node-id="{{ node.id }}"
                data-step="{{ node.step }}"
                {% if node.ticked %}
                    data-ticked-step="{{ node.ticked_step }}"
                {% endif %}
                data-ticked="{% if node.ticked %}1{% else %}0{% endif %}">
                <span class="node-props{% if node.ticked %} ticked{% endif %}">
                    {% if 'sentence' in node.props %}
                        <span class="sentence">{{ sw.write(node.props['sentence'], drop_parens = True) }}</span>
                        {% if 'world' in node.props and node.props['world'] != None %}
                            <span class="world">, w<span class="subscript">{{ node.props['world'] }}</span></span>
                        {% endif %}
                    {% endif %}
                    {% if 'designated' in node.props and node.props['designated'] != None %}
                        <span class="designation {% if not node.props['designated'] %}un{% endif %}designated">
                            {%- if node.props['designated'] %} &oplus;{% else %} &ominus;{% endif -%}
                        </span>
                    {% endif %}
                    {% if 'world1' in node.props and 'world2' in node.props %}
                        <span class="access">w<span class="subscript">{{ node.props['world1'] }}</span>Rw<span class="subscript">{{ node.props['world2'] }}</span></span>
                    {% endif %}
                    {% if 'ellipsis' in node.props and node.props['ellipsis'] %}
                        <span class="ellipsis">&#x22ee;</span>
                    {% endif %}
                </span>
            </div>
        {% endfor %}
        {% if structure['closed'] %}
            <div class="closeMark" data-step="{{ structure['closed_step'] }}"><div class="close-prop">&otimes;</div></div>
        {% endif %}
        </div>
        {% if structure['children']|length %}
            <div class="vertical-line" data-step="{{ structure['branch_step'] }}"></div>
            {% set width = 100 * structure['balanced_line_width'] %}
            {% set margin = 100 * structure['balanced_line_margin'] %}
            <div class="horizontal-line"
                style="width: {{ width }}%; margin-left: {{ margin }}%;"
                data-step="{{ structure['branch_step'] }}"></div>
            {% for child in structure['children'] %}
                {% set child_width = (100 / structure['width']) * child['width'] %}
                <div class="child-wrapper" style="width: {{ child_width }}%;" data-step="{{ child['step'] }}" data-current-width-pct="{{ child_width }}%">
                    {{ write_structure(sw, child, is_child = True) }}
                </div>
            {% endfor %}
        {% endif %}
        {% if not is_child %}
            <div class="clear"></div>
        {% endif %}
    </div>
{%- endmacro %}
