{% macro write_structure(sw, structure, is_child = False) -%}
    <div class="structure 
        {{- ' zoomed' if not is_child -}}
        {{- ' has-open' if structure['has_open'] -}}
        {{- ' has-closed' if structure['has_closed'] -}}
        {{- ' leaf' if structure['leaf'] -}}
        {{- ' inspected' if structure['is_only_branch'] -}}
        {{- ' closed' if structure['closed'] -}}
        {{- ' open' if structure['open'] -}}"
        data-depth="{{ structure['depth'] }}"
        data-width="{{ structure['width'] }}"
        data-left="{{ structure['left'] }}" 
        data-right="{{ structure['right'] }}"
        data-step="{{ structure['step'] }}"
        data-branch-id="{{ structure['branch_id'] }}"
        data-model-id="{{ structure['model_id'] if structure['model_id'] }}">
        <div class="node-segment">
        {% if is_child %}
            <div class="vertical-line" data-step="{{ structure['step'] }}"></div>
        {% endif %}
        {% for node in structure['nodes'] %}
            <div class="node {{- ' ticked' if node.ticked }}"
                data-node-id="{{ node.id }}"
                data-step="{{ node.step }}"
                {% if node.ticked %}
                    data-ticked-step="{{ node.ticked_step }}"
                {% endif %}
                data-ticked="{{ '1' if node.ticked else '0' }}">
                <span class="node-props {{- ' ticked' if node.ticked}}">
                    {% if node.has('sentence') %}
                        {% set sentence_raw = sw.write(node.props['sentence'], drop_parens = True) %}
                        <span class="sentence">{{ sentence_raw if sw.symbol_set.name == 'html' else sentence_raw|e }}</span>
                        {% if node.has('world') %}
                            <span class="world">, w<span class="subscript">{{ node.props['world'] }}</span></span>
                        {% endif %}
                    {% endif %}
                    {% if node.has('designated') %}
                        <span class="designation {{ 'designated' if node.props['designated'] else 'undesignated' }}"></span>
                    {% endif %}
                    {% if node.has('world1') and node.has('world2') %}
                        <span class="access">w<span class="subscript">{{ node.props['world1'] }}</span>Rw<span class="subscript">{{ node.props['world2'] }}</span></span>
                    {% endif %}
                    {% if node.has('ellipsis') %}
                        <span class="ellipsis"></span>
                    {% endif %}
                </span>
            </div>
        {% endfor %}
        </div>
        {% if structure['children']|length %}
            <div class="vertical-line" data-step="{{ structure['branch_step'] }}"></div>
            {% set width = 100 * structure['balanced_line_width'] %}
            {% set margin = 100 * structure['balanced_line_margin'] %}
            <div class="horizontal-line"
                style="width: {{ width }}%; margin-left: {{ margin }}%;"
                data-step="{{ structure['branch_step'] }}"></div>
            {% for child in structure['children'] %}
                {% set child_width = (100 / structure['width']) * child['width'] %}
                <div class="child-wrapper" style="width: {{ child_width }}%;" data-step="{{ child['step'] }}" data-current-width-pct="{{ child_width }}%">
                    {{ write_structure(sw, child, is_child = True) }}
                </div>
            {% endfor %}
        {% endif %}
        {% if not is_child %}
            <div class="clear"></div>
        {% endif %}
    </div>
{%- endmacro %}
