{# assumes input values are properly ordered for binary operators #}
{%- set oper = table.operator -%}
{%- set arity = oper.arity -%}
{%- set numvalues = table.Value|length -%}
<div class="truth-table-wrapper">
    <table class="truth-table docutils operator-{{ oper.name.lower()|e }}">
        <thead>
            <tr>
                {% if arity == 1 -%}
                    <th class="operator-name" colspan="2">{{ oper.label|e }}</th>
                {% elif arity == 2 -%}
                    <th class="operator-name" colspan="{{ numvalues + 1 }}">{{ oper.label|e }}</th>
                {% endif -%}
            </tr>
        </thead>
        <tbody>
            {% if arity == 1 -%}
                <tr>
                    <th class="blank"></th>
                    <th class="operator-symbol arity-1">
                        {% if lw.charset == 'html' -%}
                            {{- lw(oper) -}}
                        {% else -%}
                            {{- lw(oper)|e -}}
                        {% endif -%}
                    </th>
                </tr>
            {% elif arity == 2 -%}
                <tr>
                    <th class="operator-symbol arity-2">
                        {% if lw.charset == 'html' -%}
                            {{- lw(oper) -}}
                        {% else -%}
                            {{- lw(oper)|e -}}
                        {% endif -%}
                    </th>
                    {% for x in range(numvalues) -%}
                        <th class="value-header row">
                            {{- table.inputs[x][1]|e -}}
                        </th>
                    {% endfor -%}
                </tr>
            {% endif -%}
            {% for x in range(numvalues) -%}
                <tr>
                    <th class="value-header column">
                        {% if arity == 1 -%}
                            {{ table.inputs[x][0]|e -}}
                        {% elif arity == 2 -%}
                            {{ table.inputs[numvalues * x][0]|e -}}
                        {% endif -%}
                    </th>
                    {% if arity == 1 -%}
                        <td>{{ table.outputs[x]|e }}</td>
                    {% elif arity == 2 -%}
                        {% for y in range(numvalues) -%}
                            <td>{{ table.outputs[y + numvalues * x]|e }}</td>
                        {% endfor -%}
                    {% endif -%}
                </tr>
            {% endfor -%}
        </tbody>
    </table>
</div>