.coverage
.dockerignore
.git
.github
.gitignore
.gitlab-ci.yml
.mypy_cache
.stubs
.venv*
.vscode
.vtest
**/__pycache__
**/.mypy_cache
**/.pytest_cache
**/*.pyc
**/htmlcov
**/node_modules
doc/_build
Dockerfile
extras
local
log
samples
scripts
settings.json