doc/_build
.git
.gitignore
.gitlab-ci.yml
.dockerignore
**/*.pyc
/local
.coverage
/htmlcov
**/__pycache__
**/.pytest_cache
/extras
/res
.vscode
.venv*
/settings.json
/.github
/Dockerfile
**/node_modules
.mypy_cache
log
.stubs