[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.11'

[packages]
Jinja2 = "*"

[web-packages]
CherryPy = "*"
Jinja2 = "*"
simplejson = "*"
prometheus-client = "*"

[doc-packages]
Jinja2 = "*"
Sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-toolbox = "*"
tabulate = "*"

[dev-packages]
coverage = "*"
pytest = "*"

[img-packages]
pdf2image = "*"