{%- extends 'layout.jinja2' -%}
{%- import 'v2/helper.jinja2' as helper -%}
{%- block inline_css -%}
    {% if is_proof and resp_data %}
        {{ resp_data.attachments.get('css') }}
    {% endif %}
{%- endblock %}
{%- block content -%}
    <script type="text/template" id="template_premise">
        {{ helper.premise('{n}', '{value}', '{status}', '{message}') }}
    </script>
    <script type="text/template" id="template_predicate">
        {% call helper.predicate('{index}', '{subscript}', '{arity}') %}
            {symbol_html}
        {% endcall %}
    </script>
    {%- if errors %}
        {% include 'errors.jinja2' %}
    {%- endif %}
    {%- if warns %}
        {% include 'warns.jinja2' %}
    {%- endif %}
    <div id="uitabs_main_wrapper">
        <div id="uitabs_main" class="">
            {# NB: Changes to tab order must be updated in app js #}
            <ul>
                <li><a href="#uitab_input" id="uitab_input_link" class="uitab_link tooltip" title="Argument"></a></li>
                <li><a href="#uitab_options" id="uitab_options_link" class="uitab_link tooltip" title="Options"></a></li>
                {% if is_proof %}
                    <li><a href="#uitab_stats" id="uitab_stats_link" class="uitab_link tooltip" title="Stats"></a></li>
                    {% if is_controls -%}
                        <li><a href="#uitab_view" id="uitab_view_link" class="uitab_link tooltip" title="View"></a></li>
                        <li><a href="#uitab_step" id="uitab_step_link" class="uitab_link tooltip" title="Step"></a></li>
                    {% endif %}
                    {% if is_models -%}
                        <li><a href="#uitab_models" id="uitab_models_link" class="uitab_link tooltip" title="Models"></a></li>
                    {% endif %}
                {% endif %}
            </ul>
            <form id="argument_form" class="" action="/" method="post">
                <input id="api_json" type="hidden" name="api-json"/>
                <div id="uitab_input" class="{{- ' hidden' if is_proof and selected_tab != 'input'}}">
                    <div class="col1">
                        {% include 'v2/argument-input.jinja2' %}
                    </div>
                    <div class="col2">
                        {% include 'v2/lexicon.jinja2' %}
                    </div>
                    <div class="clear"></div>
                </div>  
                <div id="uitab_options" class="hidden">
                    {% include 'v2/options.jinja2' %}
                </div>
            </form>
            {% if is_proof -%}
                <div id="uitab_stats" class="{{ 'hidden' if selected_tab != 'stats' }}">
                    {% include 'v2/stats.jinja2' %}
                </div>
                {% if is_controls -%}
                    <div id="uitab_view" class="{{ 'hidden' if selected_tab != 'view' }}">
                        {% include 'v2/view.jinja2' %}
                    </div>
                    <div id="uitab_step" class="{{ 'hidden' if selected_tab != 'step' }}">
                        {% include 'v2/step.jinja2' %}
                    </div>
                {% endif %}
                {% if is_models -%}
                    <div id="uitab_models" class="{{ 'hidden' if selected_tab != 'models' }}">
                        {% include 'v2/models.jinja2' %}
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
    {% if is_proof -%}
        {% if resp_data.writer.format == 'html' %}
            {{ resp_data.tableau.body }}
        {% else %}
            <div class="tableau-wrapper plaintext">
                <pre>{{ resp_data.tableau.body|e }}</pre>
            </div>
        {% endif %}
    {% endif %}
{%- endblock -%}