{%- import 'v2/model.jinja2' as model_helper -%}
<div class="tableau-models 
    {{- ' single-branch inspected' if tableau.stats.branches == 1 }}"{#
    #} id="models_{{ tableau.id }}"{#
    #} data-tableau-id="tableau_{{ tableau.id }}">
    {%- if tableau.stats.open_branches > 0 %}
        <div class="message select-a-branch">Select an open branch to view model</div>
        {%- for branch in tableau.open %}
            {{ model_helper.write_model(lw, branch) }}
        {%- endfor %}
    {%- else %}
        <div class="message no-models">No open branches</div>
    {%- endif %}
</div>