/* fonts */
@font-face {
    font-family: "Charmonman";
    font-weight: normal;
    src: url("fonts/charmonman/Charmonman-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Charmonman"; 
    font-weight: bold;
    src: url("fonts/charmonman/Charmonman-Bold.ttf") format("truetype");
}

/* font-family */
.big-l {
    font-family: Charmonman;
    font-weight: bold;
}
div[class^=highlight] .pre,
table.lex-eg-table tr > td:last-child {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
}
html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) .rule-sig.sig-name,
.ruledoc.rule-sig,
.ruledoc.with-legend .descname {
    font-family: inherit;
}



.sig .rule-legend {
    padding: 4px 10px;
    color: black;
    margin-left: -6px;
    margin-top: -6px;
    border: 1px solid #dadada;
    border-left-color: #ac9;

}


.tableau-wrapper .rule-legend {
    position: absolute;
    border: 1px solid #ccc;
    padding: 0 8px;
}

.sig .rule-legend {
    color: black;
    
}

.ruledoc.rule-sig {
    color: #252525;
}


/* font-size */
.sig .rule-legend,
.tableau-wrapper .rule-legend {
    font-size: 20px;
}
.tableau-wrapper .prolog .argument {
    font-size: initial;
}
table.truth-table th.operator-name {    
    font-size: 90%;
}
p.definiens .lexitem,
p.definiens .metawrite,
p.definition .lexitem,
p.definition .metawrite,
table.truth-table th.operator-symbol {
    font-size: 110%;
}
.logic_name.subsup > .main {
    font-size: 115%;
}
.tableau-wrapper .prolog {
    font-size: 85%;
}

/* line-height */

.tableau {
    line-height: initial;
}
p.definition,
p.consequence,
p.definiens {
    line-height: 24px;
}
div[class^=highlight] .pre {
    line-height: 1.4;
}
.tableau-wrapper .prolog {
    line-height: 1;
}

/* font-weight */
html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) .rule-sig.sig-name,
.ruledoc.rule-sig,
.ruledoc.with-legend .descname,
table.truth-table > thead > tr > th.operator-name {
    font-weight: normal;
}
.big-l,
table.truth-table th.value-header,
table.truth-table th.operator-symbol,
p.definiendum {
    font-weight: bold;
}

/* font-style */

.ruledoc.rule-sig {
    font-style: italic;
}

/* font-variant */

.smallcaps, .small-caps {
    font-variant: small-caps;
}

/* overflow */

div[class^=highlight] .pre {
    overflow: auto;
}

/* text-align */

p.definition.center {
    text-align: center;
}
dt.ruledoc.sig,
table.truth-table tr > th.value-header.column,
table.truth-table th.operator-symbol.arity-2 {
    text-align: right;
}

/* white-space */

div[class^=highlight] .pre,
table.lex-eg-table tr > td:last-child {
    white-space: pre;
}

/* display */

p.definiendum,
div[class^=highlight] .pre,
html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) dt.ruledoc.sig {
    display: block;
}
table.flex-last tr > td:last-child,
table.lex-eg-table tr > td:last-child {
    display: flex;
    min-width: max-content;
}

/* float */
.sig .rule-legend,
.truth-table-wrapper {
    float: left;
}

/* clear */
.clear {
    clear: both;
}

/* position */
.logic_name.subsup > sub.down {
    bottom: -0.45em;
}
.conseqq > sup {
    top: -0.6em;
}

/* margin */


div[class^=highlight] .pre {
    margin: 0;
}
dl.ruledoc dd {
    margin-left: 0;
}
p.definition > em {
    margin-right: 10px;
}
.tableau-wrapper {
    margin-bottom: 20px;
}
p.definition,
p.consequence,
p.definiens,
p.definiendum {
    margin-right: 30px;
    margin-left: 40px;
}
.truth-table-wrapper {
    margin-right: 15px;
    margin-bottom: 15px;
}
.logic_name.subsup > sub.down,
.conseqq > sup {
    margin-left: -0.55em;
}
p.definition,
p.consequence,
p.definiens {
    margin-bottom: 24px;
}
p.definiendum {
    margin-bottom: 0 !important;
}


/* padding */

.sig .rule-legend {
    padding: 4px 8px;
}
.rule-legend .legend-item {
    padding: 0 2px;
}

dl.ruledoc {
    padding-bottom: 0px;
}
.tableau-wrapper .prolog {
    padding-left: 10px;
    padding-top: 10px;
}
table.truth-table td,
.tableau-wrapper,
.tableau-wrapper .prolog .argument {
    padding: 10px;
}
p.definition,
p.consequence,
p.definiens,
div[class^=highlight] .pre {
    padding: 12px;
}
p.definiendum {
    padding: 6px 12px;
}


/* border */

table.truth-table tr > th.value-header.row,
table.truth-table > tbody > tr > th.operator-symbol.arity-1 {
    border-bottom: 1px solid black;
}
table.truth-table tr > th.value-header.column {
    border-right: 1px solid black;
}
.highlight,
.tableau-wrapper {
    border: 1px solid #ac9;
}
.highlight,
.tableau-wrapper {
    border-radius: 3px;
}
/* background */
dl.ruledoc,
p.definition,
p.consequence,
p.definiens {
    background-color: #e7f2fa;
}
p.definiendum {
    background: #6ab0de85;
}
.highlight,
.tableau-wrapper {
    background-color: #eeffcc;
}
.tableau-wrapper .rule-legend ,
.sig .rule-legend{
    background-color: white;

}