/* font-size */
.truth-table th.operator-name {
    font-size: 90%;
}
body {
    font-size: 95%;
}
p.definiens .lexitem,
p.definiens .metawrite,
p.definition .lexitem,
p.definition .metawrite,
table.truth-table th.operator-symbol {
    font-size: 110%;
}
.logic_name.subsup > .main {
    font-size: 115%;
}
.tableau.rule.example {
    font-size: 120%;
}

/* line-height */
p.definition,
p.consequence,
p.definiens {
    line-height: 24px;
}

/* font-weight */
table.truth-table th.operator-name {
    font-weight: normal;
}
table.truth-table th.value-header,
table.truth-table th.operator-symbol,
p.definiendum {
    font-weight: bold;
}

/* font-variant */
.smallcaps, .small-caps {
    font-variant: small-caps;
}

/* text-align */
p.definition.center {
    text-align: center;
}
table.truth-table tr > th.value-header.column,
table.truth-table th.operator-symbol.arity-2 {
    text-align: right;
}

/* display */
p.definiendum {
    display: block;
}

/* float */
.truth-table-wrapper {
    float: left;
}

/* clear */
.clear {
    clear: both;
}

/* position */
.logic_name.subsup > sub.down {
    bottom: -0.45em;
}
.conseqq > sup {
    top: -0.6em;
}

/* margin */
p.definition > em {
    margin-right: 10px;
}
p.definition,
p.consequence,
p.definiens,
p.definiendum {
    margin-right: 30px;
    margin-left: 40px;
}
.truth-table-wrapper {
    margin-right: 15px;
    margin-bottom: 15px;
}
.logic_name.subsup > sub.down,
.conseqq > sup {
    margin-left: -0.55em;
}
p.definition,
p.consequence,
p.definiens {
    margin-bottom: 24px;
}
p.definiendum {
    margin-bottom: 0 !important;
}

/* border */
table.truth-table {
    border: 2px solid gray;
    border-collapse: collapse;
}
table.truth-table tr > th.value-header.row,
table.truth-table th.operator-symbol.arity-1 {
    border-bottom: 1px solid black;
}
table.truth-table tr >th.value-header.column {
    border-right: 1px solid black;
}

/* padding */
p.definition,
p.consequence,
p.definiens {
    padding: 12px;
}
table.truth-table th {
    padding: 8px;
}
table.truth-table td {
    padding: 10px;
}
p.definiendum {
    padding: 6px 12px;
}

/* background */
p.definition,
p.consequence,
p.definiens {
    background: #e7f2fa;
}
p.definiendum {
    background: #6ab0de85;
}





/* .subscript {
    vertical-align: sub;
    font-size: 80%;
} */