/* fonts */
@font-face {
    font-family: "Charmonman";
    font-weight: normal;
    src: url("fonts/charmonman/Charmonman-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Charmonman"; 
    font-weight: bold;
    src: url("fonts/charmonman/Charmonman-Bold.ttf") format("truetype");
}

/* font-family */
.big-l {
    font-family: Charmonman;
    font-weight: bold;
}
.metawrite.logic_name,
table.lex-eg-table tr > td:last-child {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace
}


/* font-size */
table.truth-table th.operator-name {
    font-size: 90%;
}
p.definiens .lexitem,
p.definiens .metawrite,
p.definition .lexitem,
p.definition .metawrite,
table.truth-table th.operator-symbol {
    font-size: 110%;
}
.logic_name.subsup > .main {
    font-size: 115%;
}

/* line-height */
p.definition,
p.consequence,
p.definiens {
    line-height: 24px;
}

/* font-weight */
table.truth-table > thead > tr > th.operator-name {
    font-weight: normal;
}
table.truth-table th.value-header,
table.truth-table th.operator-symbol,
p.definiendum {
    font-weight: bold;
}

/* font-variant */
.smallcaps, .small-caps {
    font-variant: small-caps;
}


.example.tableau {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.build-trunk.prolog .argument {
    padding: 10px;
    margin: 0 10px;
}

.build-trunk.tableau {
    padding-top: 25px;
}



/* text-align */
p.definition.center,
.build-trunk-prolog {
    text-align: center;
}
table.truth-table tr > th.value-header.column,
table.truth-table th.operator-symbol.arity-2 {
    text-align: right;
}

/* white-space */
table.lex-eg-table tr > td:last-child {
    white-space: pre;
}
/* display */
p.definiendum {
    display: block;
}
table.flex-last tr > td:last-child,
table.lex-eg-table tr > td:last-child {
    display: flex;
    min-width: max-content;
}

/* float */
.truth-table-wrapper {
    float: left;
}

/* clear */
.clear {
    clear: both;
}

/* position */
.logic_name.subsup > sub.down {
    bottom: -0.45em;
}
.conseqq > sup {
    top: -0.6em;
}

/* margin */
p.definition > em {
    margin-right: 10px;
}
p.definition,
p.consequence,
p.definiens,
p.definiendum {
    margin-right: 30px;
    margin-left: 40px;
}
.truth-table-wrapper {
    margin-right: 15px;
    margin-bottom: 15px;
}
.logic_name.subsup > sub.down,
.conseqq > sup {
    margin-left: -0.55em;
}
p.definition,
p.consequence,
p.definiens {
    margin-bottom: 24px;
}
p.definiendum {
    margin-bottom: 0 !important;
}

/* border */
table.truth-table tr > th.value-header.row,
table.truth-table > tbody > tr > th.operator-symbol.arity-1 {
    border-bottom: 1px solid black;
}
table.truth-table tr > th.value-header.column {
    border-right: 1px solid black;
}

/* padding */
table.truth-table td,
.build-trunk-prolog .argument {
    padding: 10px;
}
p.definition,
p.consequence,
p.definiens {
    padding: 12px;
}
p.definiendum {
    padding: 6px 12px;
}

/* background */
p.definition,
p.consequence,
p.definiens {
    background: #e7f2fa;
}
p.definiendum {
    background: #6ab0de85;
}
