<div class="input select">
    <label for="output_format">Format</label>
    <select id="output_format" name="output_format">
        {% for format in output_formats -%}
            <option value="{{ format|e }}" {{- 
                helper.select_opt(form_data, 'output_format', format) 
            }}>
                {{- format|e -}}
            </option>
        {% endfor %}
    </select>
</div>
<div class="input select">
    <label for="output_notation">Notation</label>
    <select id="output_notation" name="output_notation">
        {% for notn in Notation -%}
            <option value="{{ notn.name|e }}" {{- 
                helper.select_opt(form_data, 'output_notation', notn.name) 
            }}>
                {{- notn.name|e -}}
            </option>
        {% endfor %}
    </select>
</div>
<div class="input select">
    <label for="output_charset">Symbol Charset</label>
    <select id="output_charset" name="output_charset">
        {% for charset in output_charsets -%}
            <option value="{{ charset|e }}" {{- 
                helper.select_opt(form_data, 'output_charset', charset) 
            }}>
                {{- charset|e -}}
            </option>
        {% endfor %}
    </select>
</div>
<div class="input">
    <label for="options_models">Build models</label>
    <input type="checkbox" id="options_models" name="build_models" class="options"
        value="1" {{- helper.checkbox_default(form_data, 'build_models') }}/>
</div>
<div class="input">
    <label for="options_max_steps">Max steps</label>
    <input type="text" id="options_max_steps" size="5" name="max_steps"
        value="{{ form_data['max_steps']|e }}"/>
</div>
{% if is_debug -%}
<div class="input">
    <label for="options_rank_optimizations">Rank Optimizations</label>
    <input type="checkbox" id="options_rank_optimizations" name="rank_optimizations"
        value="1" {{- helper.checkbox_default(form_data, 'rank_optimizations') }}/>
</div>
<div class="input">
    <label for="options_group_optimizations">Group Optimizations</label>
    <input type="checkbox" id="options_group_optimizations" name="group_optimizations"
        value="1" {{- helper.checkbox_default(form_data, 'group_optimizations') }}/>
</div>
<div class="input">
    <label for="options_show_controls">Controls</label>
    <input type="checkbox" id="options_show_controls" name="show_controls"
        value="1" {{- helper.checkbox_default(form_data, 'show_controls') }}/>
</div>
{% endif -%}
<div class="input submit">
    <input type="submit" value="Go"/>
</div>