<div id="lexicons-content" class="lexicons panebox">
    <div class="heading">Symbols</div>
    <div class="panel">
        {%- for notn in Notation -%}
            {%- set table = ParseTable.fetch(notn) -%}
            <div class="lexicon hidden notation-{{ notn.name|e }}">
                <span class="label">Operators</span>
                <table class="operator-symbols">
                    {%- for oper in Operator -%}
                        <tr>
                            <td><span class="operator-symbol">{{ table.reversed[oper]|e }}</span></td>
                            <td class="html-ref-symbol">{{ lw_html_ref(oper) }}</td>
                            <td>{{ oper.label|e }}</td>
                        </tr>
                    {%- endfor %}
                </table>
                <div class="clear"></div>
            </div>
        {% endfor %}
    </div>
    <div class="panel">
        {%- for notn in Notation -%}
            {%- set table = ParseTable.fetch(notn) -%}
            <div class="lexicon hidden notation-{{ notn.name|e }}">
                {%- for lextype in [LexType.Atomic, LexType.Constant, LexType.Variable] %}
                <span class="label">{{ lextype.name|e }}s</span>
                <ul class="item-symbols">
                    {%- for i in range(lextype.maxi + 1) %}
                        <li>{{ table.reversed[lextype.cls, i]|e }}</li>
                    {%- endfor %}
                </ul>
                {%- endfor %}
                <span class="label">Quantifiers</span>
                <table class="operator-symbols quantifier-symbols">
                    {%- for item in Quantifier -%}
                        <tr>
                            <td>
                                <span class="operator-symbol quantifier-symbol">
                                    {{- table.reversed[item]|e -}}
                                </span>
                            </td>
                            <td class="html-ref-symbol">{{ lw_html_ref(item) }}</td>
                            <td>{{ item.label|e }}</td>
                        </tr>
                    {%- endfor %}
                </table>
                <div class="clear"></div>
            </div>
        {%- endfor %}
    </div>
    <div class="panel">
        <span class="label">Predicates</span>
        {%- for notn in Notation -%}
            {%- set table = ParseTable.fetch(notn) -%}
            <div class="lexicon hidden notation-{{ notn.name|e }}">
                <ul class="item-symbols">
                    {%- for i in range(Predicate.TYPE.maxi + 1) -%}
                        <li>{{ table.reversed[Predicate, i]|e }}</li>
                    {%- endfor %}
                </ul>
            </div>
        {%- endfor %}
        <table id="predicates_input_table" class="predicates predicate-symbols">
            {%- for pred in Predicate.System %}
                <tr class="system-predicate">
                    <td>
                        {%- for notn in Notation -%}
                            {%- set symbol = ParseTable.fetch(notn).reversed[pred] %}
                            {%- set subscript = pred.subscript %}
                            <span class="lexicon predicate-symbol notation-{{ notn.name|e }} hidden">
                                {{- symbol|e }}{% if subscript > 0 %}<sub>{{ subscript|e }}</sub>{% endif -%}
                            </span>
                        {%- endfor %}
                    </td>
                    <td class="html-ref-symbol">{{ lw_html_ref(pred) }}</td>
                    <td>{{ pred.name|e }}</td>
                </tr>
            {%- endfor %}
        </table>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>