{#-
   Tableau main template.


    classes:
       wrapper : tableau-wrapper
       tableau : tableau
       structure : structure [, root, has_open, has_closed, leaf, is_only_branch, closed, open]
       node segment : node-sement
       vertical line : vertical-line
       horizontal line : horizontal-line
       node : node [, ticked]
       node props : node-props [, ticked]
       inline : [sentence, world, designation, designated, undesignated,
                 world1, world2, access, ellipsis, flag, <flag>]
       misc : clear
 -#}
{%- from 'macros.jinja2' import sw with context -%}
{%- if opts.inline_css %}
<style>
    {% include css_template_name %}
</style>
{%- endif %}
{%- if opts.wrapper -%}
<div class="{{ wrap_classes|join(' ')|e }}">
{%- endif %}
    <div id="tableau_{{ tab.id }}"{#
    #} class="{{ tab_classes|join(' ')|e }}"{#
    #} data-step="{{ tab.history|length }}"{#
    #} data-num-steps="{{ tab.history|length }}"{#
    #} data-current-width-pct="100">
        {{ sw(tab.tree) }}
    </div>
    <div class="clear"></div>
{%- if opts.wrapper -%}
</div>
{%- endif %}