{% extends 'layout.html' %}
{% import 'helper.html' as helper %}
{% block content %}
    <script type="text/template" id="premiseTemplate">
        {{ helper.premise('{n}', '{value}', '{status}', '{messsage}') }}
    </script>
    <script type="text/template" id="predicateRowTemplate">
        {% call helper.predicate_row('{index}', '{subscript}', '{name}', '{arity}') %}
            {symbol_html}
        {% endcall %}
    </script>
    {% if errors %}
        <div class="errors">
            <h3>Please correct the following errors:</h3>
            <dl>
                {% for field in errors %}
                    <dt>{{ field }}:</dt>
                    <dd>{{ errors[field].message|e }}</dd>
                {% endfor %}
            </dl>
            <div class="clear"></div>
        </div>
    {% endif %}
    <form class="argument" action="/" method="post">
        <fieldset class="options">
            <legend>Options</legend>
            <div class="input select">
                <label for="notation">Notation</label>
                <select id="notation" name="notation">
                    {% for module in notation_modules %}
                        <option value="{{ module }}" {{ helper.select_opt(form_data, 'notation', module) }}>
                            {{ notations[module].name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="input select">
                <label for="writer">Output</label>
                <select id="writer" name="writer">
                    {% for module in writer_modules %}
                        <option value="{{ module }}" {{ helper.select_opt(form_data, 'writer', module) }}>
                            {{ writers[module].name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="input">
                <label for="logic" class="left">Logics</label>
                <div class="left">
                {% for module in logic_modules %}
                    <input type="checkbox" value="{{ module }}" name="logic" id="logic" {{ helper.checkbox_default(form_data, 'logic', module) }}/>
                    <span class="logicName">{{ logics[module].name }}</span>
                    <span class="logicHelp"><a href="/doc/logics.html#module-logics.{{ module.lower() }}" target="_pytableaux_logic"></a></span><br>
                {% endfor %}
                </div>
                <div class="clear"></div>
            </div>
        </fieldset>
        <fieldset class="lexicon">
            <legend>Lexicon</legend>
            <div class="lexicons">
                {% for module in notation_modules %}
                    {% set symset = notations[module].symbol_sets['default'] %}
                    <div class="lexicon hidden" id="Lexicon_{{ module }}">
                        <span class="label">Atomics</span>
                        <ul class="item-symbols">
                            {% for char in symset.chars('atomic') %}
                                <li>{{ char|e }}</li>
                            {% endfor %}
                        </ul>
                        <span class="label">Constants</span>
                        <ul class="item-symbols">
                            {% for char in symset.chars('constant') %}
                                <li>{{ char|e }}</li>
                            {% endfor %}
                        </ul>
                        <span class="label">Variables</span>
                        <ul class="item-symbols">
                            {% for char in symset.chars('variable') %}
                                <li>{{ char|e }}</li>
                            {% endfor %}
                        </ul>
                        <span class="label">Operators</span>
                        <dl class="operator-symbols">
                            {% for operator in operators_list %}
                                <dt>{{ symset.charof('operator', operator)|e }}</dt>
                                <dd>{{ operator|e }}</dd>
                            {% endfor %}
                        </dl>
                        <span class="label">Quantifiers</span>
                        <dl class="operator-symbols">
                            {% for quantifier in quantifiers %}
                                <dt>{{ symset.charof('quantifier', quantifier)|e }}</dt>
                                <dd>{{ quantifier|e }}</dd>
                            {% endfor %}
                        </dl>
                        <div class="clear"></div>
                    </div>
                {% endfor %}
        </fieldset>
        <fieldset class="predicates">
            <legend>Predicates</legend>
            <div class="predicates">
                <table class="predicates">
                    <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Name</th>
                            <th>Arity</th>
                        </th>
                    </thead>
                    <tbody>
                        {% for name in system_predicates %}
                            <tr class="systemPredicate">
                                <td>
                                    {% for module in notation_modules %}
                                        {% set symset = notations[module].symbol_sets['default'] %}
                                        {% set symbol = symset.charof('system_predicate', name) %}
                                        {% set subscript = system_predicates[name].subscript %}
                                        <span class="predicateSymbol notation-{{module}} hidden">
                                            {{ symbol|e }}{% if subscript > 0 %}<span class="subscript">{{ subscript }}</span>{% endif %}
                                        </span>
                                    {% endfor %}
                                </td>
                                <td>{{ name|e }}</td>
                                <td>{{ system_predicates[name].arity }}</td>
                            </tr>
                        {% endfor %}
                        {% for label in form_data['user_predicate_symbols[]'] %}
                            {% set info = label.split('.') %}
                            {% set index = info[0]|int %}
                            {% set subscript = info[1]|int %}
                            {% call helper.predicate_row(index, subscript, form_data['user_predicate_names[]'][loop.index0], form_data['user_predicate_arities[]'][loop.index0]) %}
                                {% for module in notation_modules %}
                                    {% set symset = notations[module].symbol_sets['default'] %}
                                    {{ helper.predicate_symbol(module, symset.charof('user_predicate', index), subscript) }}
                                {% endfor %}
                            {% endcall %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </fieldset>
        <fieldset class="argument">
            <legend>Argument</legend>
            <div class="premises">
                {% if 'premises[]' in form_data %}
                    {% for premise in form_data['premises[]'] %}
                        {% set error_label = 'Premise ' ~ loop.index %}
                        {% if error_label in errors %}
                            {{ helper.premise(loop.index, premise, 'bad', errors[error_label].message) }}
                        {% else %}
                            {{ helper.premise(loop.index, premise, 'good') }}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="sentence input conclusion">
                <label for="conclusion">Conclusion</label>
                <input id="conclusion" class="sentence conclusion" type="text" name="conclusion" value="{{ form_data['conclusion'] }}" />
                {% set status = '' %}
                {% set message = '' %}
                {% if 'Conclusion' in errors %}
                    {% set status = 'bad' %}
                    {% set message = errors['Conclusion'].message %}
                {% elif 'conclusion' in form_data %}
                    {% set status = 'good' %}
                {% endif %}
                <span class="status {{ status }}" title="{{ message|e }}"></span>
            </div>    
            <div class="input submit">
                <input type="submit" value="Go"/>
            </div>
            <hr>
            Or, load example:
            <select id="example_argument">
                <option value=""></option>
                {% for argument_name in example_args_list %}
                    <option value="{{ argument_name }}">{{ argument_name }}</option>
                {% endfor %}
            </select>
        </fieldset>
    </form>
    <div class="clear"></div>
{% endblock %}