{%- extends 'layout.html' -%}
{%- import 'helper.html' as helper -%}
{%- block content -%}
    <script type="text/template" id="premiseTemplate">
        {{ helper.premise('{n}', '{value}', '{status}', '{messsage}') }}
    </script>
    <script type="text/template" id="predicateRowTemplate">
        {% call helper.predicate_row('{index}', '{subscript}', '{name}', '{arity}') %}
            {symbol_html}
        {% endcall %}
    </script>
    <div class="pt-app">
        {% if errors %}
            {% include 'errors.html' %}
        {% endif %}
        {% if warns %}
            {% include 'warns.html' %}
        {% endif %}
        <form class="argument" action="/" method="post">
            <input type="hidden" name="api-json"/>
            <div class="fieldset logic">
                <div class="heading collapsed">
                    <h2 class="legend">Logic</h2>
                    <span class="heading-summary" id="logic-heading-description"></span>
                </div>
                <div class="fieldset-contents hidden">
                    {% include 'select-logic.html' %}
                    <div class="clear"></div>
                </div>
            </div>
            <div class="fieldset argument">
                <div class="heading {{- helper.collapsed_if(is_proof) }}">
                    <h2 class="legend">Argument</h2>
                    <span class="heading-summary" id="argument-heading-rendered"></span>
                </div>
                <div class="fieldset-contents {{- helper.hidden_if(is_proof) }}">
                    <div class="left" id="sentences-input-panel">
                        {% include 'sentence-input.html' %}
                    </div>
                    <div class="collapser-wrapper" id="lexicons-wrapper">
                        {% include 'lexicon.html' %}
                    </div>
                </div>
                <div class="clear"></div>
            </div>        
            <div class="fieldset output">
                <div class="heading collapsed">
                    <h2 class="legend">Output</h2>
                    <span class="heading-summary" id="output-heading-description"></span>
                </div>
                <div class="fieldset-contents hidden">
                    {% include 'output-options.html' %}
                </div>
            </div>
        </form>
        <div class="clear"></div>
    </div>
{%- endblock -%}