<div class="pt-app">
    <div class="debugs-wrapper">
        <div class="debugs">
            <h3>Debug</h3>
            {%- for debug in debugs %}
                {%- set topic, data = debug %}
                <div class="debug">
                    <h4>{{ topic|e }}</h4>
                    <div class="debug-content json-dump">{{ data|tojson(2)|e }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>