{%- extends 'layout.html' -%}
{%- import 'helper.html' as helper -%}
{%- block content -%}
<div class="pt-app">
    <h2>Submit Feedback</h2>
    {%- if is_submitted -%}
        <div class="feedback_submitted">
            <p>
                Thank you for your feedback. Your message has been enqueued, and if all goes well, it
                will soon be delivered. If you expect a response and don't hear back within a few
                days, you might want to send an email directly to <i>{{ feedback_to_address }}</i>.
            </p>
            <p>
                <a href="/">Return to home</a>.
            </p>
        </div>
    {%- else -%}
        {% if errors %}
            {% include 'errors.html' %}
        {% endif %}
        <div class="feedback_preamble">
            <p>
                You can use this form to submit any feedback, including technical issues, documentation
                questions, general suggestions, and so forth.
            </p>
            <p>
                For bug reports, you can also <a href="{{ issues_href }}" target="_blank">submit an issue
                on GitHub</a>.
            </p>
            <p>
                If you prefer to email directly, you can send an email to <i>{{ feedback_to_address }}</i>.
            </p>
        </div>
        <form method="POST" class="feedback">
            <div class="input">
                <label for="name">Your name</label>
                <input class="" id="input_name" type="text" name="name" value="{{ form_data['name'] }}"/>
            </div>
            <div class="input">
                <label for="name">Your email</label>
                <input class="" id="input_email" type="email" name="email" value="{{ form_data['email'] }}"/>
            </div>
            <div class="input">
                <label for="feedback_content">Feedback</label>
                <textarea id="input_feedback_content" name="message">{{ form_data['message'] }}</textarea>
            </div>
            <div class="input submit">
                <input id="input_submit" type="submit" value="Submit"/>
            </div>
        </form>
    {%- endif -%}
</div>
{%- endblock -%}