<div class="header">
    <a href="/">{{ config.app_name|e }} {{ config.version|e }}</a>
    {% if is_debug %}
    {% set altver = 'v1' if view_version == 'v2' else 'v2' %}
        | view: <a href="/?v={{ altver }}">{{ view_version|e }}</a>
        | <a href="/?v={{ view_version|e }}&debug=0">debug</a>
    {% endif %}
    <span class="right">
        <a href="/doc" class="headicon doc tooltip" title="Documentation" target="_blank"></a>
        <a href="{{ config.source_href }}" class="headicon source" title="Source" target="_blank"></a>
        {%- if config.feedback_enabled %}
            <a href="/feedback" class="headicon feedback" title="Feedback"></a>
        {%- endif -%}
    </span>
</div>