{% macro premise(id, value='', status='', message='') -%}
    <div class="sentence input premise">
        <label for="premise{{id}}">Premise {{id}}</label>
        <input class="sentence premise" id="premise{{id}}" type="text" name="premises[]" value="{{value|e}}"/>
        <span class="status {{ status }}" title="{{ message|e }}"></span>
    </div>
{%- endmacro %}

{% macro predicate_symbol(module, symbol, subscript) -%}
    <span class="predicateSymbol notation-{{module}} hidden">
        {{ symbol|e }}{% if subscript > 0 %}<span class="subscript">{{ subscript }}</span>{% endif %}
    </span>
{%- endmacro %}

{% macro predicate_row(index, subscript, name='', arity='') -%}
    <tr class="userPredicate">
        <td>
            {{ caller() }}
            <input type="hidden" class="predicateSymbol" name="user_predicate_symbols[]" value="{{ index }}.{{ subscript }}" />
        </td>
        <td>
            <input type="text" class="predicateName" name="user_predicate_names[]" value="{{ name|e }}" />
        </td>
        <td>
            <input type="text" class="arity" name="user_predicate_arities[]" value="{{ arity }}"/>
        </td>
    </tr>
{% endmacro %}

{% macro select_opt(form_data, key, value) -%}
    {% if key in form_data and form_data[key] == value %} selected="selected"{% endif %}
{%- endmacro %}

{% macro select_opt_multi(form_data, key, value) -%}
    {% if key in form_data and (form_data[key] == value or value in form_data[key]) %} selected="selected"{% endif %}
{%- endmacro %}

{% macro select_opt_multi_default_select(form_data, key, value) -%}
    {% if key not in form_data or (form_data[key] == value or value in form_data[key]) %} selected="selected"{% endif %}
{%- endmacro %}

{% macro checkbox_default(form_data, key, value) -%}
    {% if key not in form_data or (form_data[key] == value or value in form_data[key]) %} checked="checked"{% endif %}
{%- endmacro %}