{% macro premise(id, value='', status='', message='') -%}
    <div class="sentence input premise">
        <label for="premise{{id}}">Premise {{id}}</label>
        <input class="sentence premise" id="premise{{id}}" type="text" name="premises[]" value="{{value|e}}"/>
        <span class="status {{ status }}" title="{{ message|e }}"></span>
    </div>
{%- endmacro %}

{% macro select_opt(form_data, key, value) -%}
    {% if key in form_data and form_data[key] == value %} selected="selected"{% endif %}
{%- endmacro %}

{% macro select_opt_multi(form_data, key, value) -%}
    {% if key in form_data and (form_data[key] == value or value in form_data[key]) %} selected="selected"{% endif %}
{%- endmacro %}