<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ config.app_name|e }}</title>
    <!--[if IE]>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <![endif]-->
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/app.{{ view_version|e }}.js"></script>
    <script src="/static/js/proof.{{ view_version|e }}.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/ui-base/jquery-ui.min.css"/>
    {%- if is_controls %}
    <link rel="stylesheet" type="text/css" href="/static/ui-controls/jquery-ui.min.css"/>
    {%- endif %}
    <link rel="stylesheet" type="text/css" href="/static/css/app.{{ view_version|e }}.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/proof.{{ view_version|e }}.css"/>
    <meta name="viewport" content="width=device-width"/>
    {% if config.google_analytics_id -%}
        {% include 'analytics.jinja2' %}
    {% endif -%}
    {%- if is_debug %}
        <script src="/static/json-viewer/jquery.json-viewer.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/json-viewer/jquery.json-viewer.css"/>
    {%- endif %}
    <style>
        {% block inline_css %}{% endblock %}
    </style>
</head>
<body class="pt-app {{- ' has-proof' if is_proof else ' no-proof' }}">
    <div class="header-wrapper">
        <div class="header">
            <a href="/">{{ config.app_name|e }} {{ config.version|e }}</a>
            {% if is_debug %}
            {% set altver = 'v1' if view_version == 'v2' else 'v2' %}
                | view_version: {{ view_version|e }} | <a href="/?v={{ altver }}">(change)</a>
            {% endif %}
            <span class="right">
                <a href="/doc" target="_blank">documentation</a> | 
                <a href="{{ config.source_href }}" target="_blank">source</a>
                {%- if config.feedback_enabled %}
                    | <a href="/feedback">feedback</a>
                {%- endif -%}
            </span>
        </div>
    </div>
    <div class="pt-content">
        {%- block content -%}{%- endblock -%}
        {%- if is_debug %}
            {%- include 'debug.jinja2' -%}
        {%- endif %}
    </div>
    <div class="footer-wrapper">
        <div class="footer">
            Copyright &copy; {{ config.copyright|e }}.
        </div>
    </div>
    <script type="text/json" id="pt_app_data" class="app">{{ browser_json }}</script>
</body>
</html>