<!DOCTYPE html>
<html lang="en">
<head>
    <title>pytableaux</title>
    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/app.css" type="text/css"></link>
</head>
<body>
    <div class="header">
        <a href="/">pytableaux</a>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <script type="text/json" class="app">{{ app }}</script>
</body>
</html>