<!DOCTYPE html>
<html lang="en">
<head>
    <title>pytableaux</title>
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/app.{{ view_version }}.js"></script>
    <script src="/static/js/proof.{{ view_version }}.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/ui-base/jquery-ui.min.css"/>
    {%- if is_controls %}
    <link rel="stylesheet" type="text/css" href="/static/ui-controls/jquery-ui.min.css"/>
    {%- endif %}
    <link rel="stylesheet" type="text/css" href="/static/css/app.{{ view_version }}.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/proof.{{ view_version }}.css"/>
    <meta name="viewport" content="width=device-width"/>
    {% if is_google_analytics -%}
        {% include 'analytics.jinja2' %}
    {% endif -%}
    <style>
        {% block inline_css %}{% endblock %}
    </style>
</head>
<body class="pt-app {{- ' has-proof' if is_proof else ' no-proof' }}">
    <div class="header-wrapper">
        <div class="header">
            <a href="/">pytableaux {{ version }}</a>
            {% if is_debug %}
            {% set altver = 'v1' if view_version == 'v2' else 'v2' %}
                | view_version: {{ view_version }} | <a href="/?v={{ altver }}">(change)</a>
            {% endif %}
            <span class="right">
                <a href="/doc" target="_blank">documentation</a> | 
                <a href="{{ source_href }}" target="_blank">source</a>
                {%- if is_feedback %}
                    | <a href="/feedback">feedback</a>
                {%- endif -%}
            </span>
        </div>
    </div>
    <div class="pt-content">
        {%- block content -%}{%- endblock -%}
        {%- if is_debug %}
            {%- include 'debug.jinja2' -%}
        {%- endif %}
    </div>
    <div class="footer-wrapper">
        <div class="footer">
            Copyright &copy; {{ copyright }}.
        </div>
    </div>
    <script type="text/json" class="app">{{ browser_json }}</script>
</body>
</html>