<!DOCTYPE html>
<html lang="en">
<head>
    <title>pytableaux</title>
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/jquery-ui/jquery-ui.min.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/proof.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/jquery-ui/jquery-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/app.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/proof.css"/>
</head>
<body>
    <div class="headerWrapper">
        <div class="header">
            <a href="/">pytableaux {{ version }}</a>
            <span class="right"><a href="/doc" target="_blank">documentation</a> | <a href="{{ source_href }}" target="_blank">source</a></span>
        </div>
    </div>
    <div class="content">
        {%- block content -%}{%- endblock -%}
        {%- if is_debug %}
            {%- include 'debug.html' -%}
        {%- endif %}
    </div>
    <div class="footerWrapper">
        <div class="footer">
            Copyright &copy; {{ copyright }}.
        </div>
    </div>
    <script type="text/json" class="app">{{ browser_json }}</script>
</body>
</html>