{% extends "argument.html" %}
{% block content %}
    {{ super() }}
    <hr>
    {{ writer.document_header() }}
    {% for tableau in tableaux %}
        <div class="evaluation">
            <div class="summary">
                <div class="argument">
                    {% if sw.symbol_set.name == 'html' %}
                        Argument: {{ argument.premises|join(', ') }} &there4; {{ argument.conclusion }}
                    {% else %}
                        Argument: {{ argument.premises|join(', ')|e }} &there4; {{ argument.conclusion|e }}
                    {% endif %}
                </div>
                <div class="result">
                    {% if tableau.valid %}
                        <span class="valid">Valid</span>
                    {% else %}
                        <span class="invalid">Invalid</span>
                    {% endif %}
                    in {{ tableau.logic.name }} &ndash; {{ tableau.logic.description|e }}
                </div>
                <div class="clear"></div>
            </div>
            <div class="proof">
                {% if writer.name == 'HTML' %}
                    {{ writer.write(tableau, writer=sw, highlight_open=True) }}
                {% else %}
                    <pre>{{ writer.write(tableau, writer=sw)|e }}</pre>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}