{% extends "argument.html" %}
{% block content %}
    {{ super() }}
    <hr>
    <div class="evaluation">
        <div class="summary">
            <h3 class="left">Proof Result</h3>
            <div class="result">
                {%- if result.tableau.valid -%}
                    <span class="valid">Valid</span>
                {%- else -%}
                    <span class="invalid">Invalid</span>
                {%- endif -%}
            </div>
            <div class="clear"></div>
        </div>
        <div class="proof">
            {% if result.tableau.writer.name == 'HTML' %}
                {{ result.tableau.body }}
            {% else %}
                <pre>{{ result.tableau.body|e }}</pre>
            {% endif %}
        </div>
    </div>
{% endblock %}