<div id="logic-select-panel">
    <div class="input select">
        <label for="selected_logic">Select Logic</label>
        <select name="logic" id="selected_logic">
            {% for category, group in logic_categories.items() -%}
                <optgroup label="{{ category|e }}">
                    {% for logic in group -%}
                        {%- set namelc = logic.name.lower() -%}
                        <option value="{{ namelc|e }}" {{- helper.select_opt(form_data, 'logic', namelc) }}>
                            {{- logic.name|e -}}
                        </option>
                    {% endfor %}
                </optgroup>
            {% endfor %}
        </select>
        <input type="submit" value="Go"/>
    </div>
    {% for module in logics -%}
        <div class="hidden logic-details {{ module|e }}">
            <span class="hidden logic-name {{ module|e }}">{{ logics[module].name|e }}</span>
            <ul class="details">
                <li>
                    <span class="prop">Title</span>
                    <span class="value logic-title {{ module|e }}">{{ logics[module].Meta.title|e }}</span>
                </li>
                <li>
                    <span class="prop">Description</span>
                    <span class="value">{{ logics[module].Meta.description|e }}</span>
                </li>
                <li>
                    <span class="prop">Tags</span>
                    <span class="value tags">
                        {% for tag in logics[module].Meta.tags -%}
                            <span class="tag">{{ tag|e }}</span>
                        {% endfor %}
                    </span>
                </li>
                <li>
                    <span class="prop">Links</span>
                    <span class="value">
                        <a class="doc-link" href="/doc/logics/{{ module|e }}.html" target="_blank" rel="noreferrer noopener">Documentation</a>
                    </span>
                </li>
            </ul>
        </div>
    {% endfor %}
</div>