<div id="lexicons-heading"
    class="collapser-heading {{- helper.collapsed_if(is_proof) }}"
    data-target="#lexicons-content">Lexicon</div>
<div id="lexicons-content"
    class="lexicons collapser-contents {{- helper.collapsed_if(is_proof) }} {{- helper.hidden_if(is_proof) }}">
    <div class="input select">
        <label for="input_notation">Notation</label>
        <select id="input_notation" name="input_notation">
            {% for notn in Notation -%}
                <option value="{{ notn.name|e }}" {{ helper.select_opt(form_data, 'input_notation', notn.name, form_defaults) }}>
                    {{- notn.name|e -}}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="lexicon-panel">
        {%- for notn in Notation -%}
            {%- set table = CharTable.fetch(notn) -%}
            <div class="lexicon hidden notation-{{ notn.name|e }}">
                <span class="label">Atomics</span>
                <ul class="item-symbols">
                    {% for char in table.chars[LexType.Atomic] -%}
                        <li>{{ char|e }}</li>
                    {% endfor %}
                </ul>
                <span class="label">Operators</span>
                <dl class="operator-symbols">
                    {% for operator in lexicals.Operator -%}
                        <dt>{{ table.char(LexType.Operator, operator)|e }}</dt>
                        <dd>{{ operator|e }}</dd>
                    {% endfor %}
                </dl>
                <span class="label">Quantifiers</span>
                <dl class="operator-symbols">
                    {% for quantifier in lexicals.Quantifier -%}
                        <dt>{{ table.char(LexType.Quantifier, quantifier)|e }}</dt>
                        <dd>{{ quantifier|e }}</dd>
                    {% endfor %}
                </dl>
                <div class="clear"></div>
            </div>
        {% endfor %}
    </div>
    <div class="lexicon-panel last">
        {%- for notn in Notation -%}
            {%- set table = CharTable.fetch(notn) -%}
            <div class="lexicon hidden notation-{{ notn.name|e }}">
                <span class="label">Constants</span>
                <ul class="item-symbols">
                    {% for char in table.chars[LexType.Constant] -%}
                        <li>{{ char|e }}</li>
                    {% endfor %}
                </ul>
                <span class="label">Variables</span>
                <ul class="item-symbols">
                    {% for char in table.chars[LexType.Variable] -%}
                        <li>{{ char|e }}</li>
                    {% endfor %}
                </ul>
                <div class="clear"></div>
            </div>
        {% endfor %}
        <span class="label">Predicates</span>
        <div class="predicates">
            <table class="predicates">
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Name</th>
                        <th>Arity</th>
                    </tr>
                </thead>
                <tbody>
                    {%- set PredSys = lexicals.Predicate.System -%}
                    {% for pred in PredSys -%}
                        <tr class="systemPredicate">
                            <td>
                                {% for notn in Notation %}
                                    {%- set symbol = notn.Parser.default_table.char(PredSys, pred) -%}
                                    {%- set subscript = pred.subscript -%}
                                    <span class="predicateSymbol notation-{{ notn.name|e }} hidden">
                                        {{- symbol|e }}{% if subscript > 0 %}<span class="subscript">{{ subscript|e }}</span>{% endif -%}
                                    </span>
                                {% endfor %}
                            </td>
                            <td>{{ pred.name|e }}</td>
                            <td>{{ pred.arity }}</td>
                        </tr>
                    {% endfor %}
                    {% for label in form_data['user_predicate_symbols[]'] %}
                        {%- set index, subscript = label.split('.')|map('int') -%}
                        {%- set name = form_data['user_predicate_names[]'][loop.index0] -%}
                        {%- set arity = form_data['user_predicate_arities[]'][loop.index0] -%}
                        {%- call helper.predicate_row(index, subscript, name, arity) %}
                            {% for notn in Notation -%}
                                {%- set table = CharTable.fetch(notn) -%}
                                {{- helper.predicate_symbol(notn.name, table.char(LexType.Predicate, index), subscript) }}
                            {% endfor -%}
                        {%- endcall -%}
                    {%- endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="clear"></div>
</div>