body {
    font-family: 'lucida grande',verdana,helvetica,arial,sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.headerWrapper, .footerWrapper {
    position: fixed;
    width: 100%;
    background-color: #003d4c;
}
.headerWrapper {
    top: 0px;
}
.footerWrapper {
    bottom: 0px;
}
.header, .footer {
    color: white;
    padding: 10px;
}

.header a, .footer a {
    color: white;
    text-decoration: none;
}

.header a:hover, .footer a:hover {
    text-decoration: underline;
}

.footer {
    text-align: center;
}

.content {
    padding: 20px;
    margin: 30px 0;
}

form.argument {
    min-width: 1040px;
}

form.argument fieldset {
    float: left;
    min-width: 22%;
    border-color: #eee;
}

form.argument fieldset.lexicon {
    width: 20%;
}

.left {
    float: left;
}
.right {
    float: right;
}
form.argument select[name=logic] {
    width: 130px;
    height: 125px;
    padding: 3px 0 0 3px;
}
form.argument input {
    font-size: 14px;
}

form.argument select, input[type=submit] {
    font-size: 16px;
}

.input label {
    border: 1px solid white;
    width: 100px;
    text-align: right;
    display: inline-block;
    background-color: #eee;
    padding: 10px;
    vertical-align: top;
}

.lexicon .label {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px;
    margin: 8px 0 5px 1px;
    min-width: 150px;
}

.lexicon dl {
    margin: 0 0 0 3px;
}

.lexicon dd {
    padding: 2px 0;
    margin: 0px 0 4px 24px;
}

.lexicon dt {
    float: left;
    background-color: #eee;
    padding: 2px 3px;
    display: inline-block;
    clear: both;
    min-width: 12px;
}

table.predicates {
    width: 100%;
}

table.predicates th {
    font-weight: normal;
    text-align: left;
    background-color: #eee;
}

table.predicates td, table.predicates th {
    border: 1px solid #eee;
    padding: 5px;
}

.input.submit input[type=submit] {
    margin: 10px 0 0 127px;
}

.input.sentence input {
    width: 215px;
    padding: 7px 4px;
}
.input.sentence .status {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.input.sentence .status.good {
    background: url(/static/img/accept.png);
}

.input.sentence .status.bad {
    background: url(/static/img/exclamation.png);
}

ul.item-symbols {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.item-symbols li {
    display: inline-block;
    padding: 2px 3px;
    background-color: #eee;
    margin: 0 3px;
}

input.arity {
    width: 10px;
}

.evaluation {
    border: 1px solid black;
    margin-bottom: 10px;
}

.evaluation > .summary {
    padding: 10px;
    border-bottom: 1px solid black;
    background-color: rgba(0, 61, 76, 0.12);
}

.evaluation > .summary h3 {
    margin: 0;
    padding: 0.2em;
    font-size: 1.5em;
}
.evaluation > .summary > .argument {
    float: right;
}

.evaluation > .summary > .result {
    float: right;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    color: white;
    width: 5.2em;
}

.evaluation > .summary > .result > span {
    padding: 0.4em;
    width: 4.4em;
    display: inline-block;
    text-align: center;
    letter-spacing: 0.05em;
}
.evaluation > .summary > .result .valid {
    background-color: green;
    border: 1px solid #666;
}

.evaluation > .summary > .result .invalid {
    background-color: red;
    border: 1px solid #aaa;
}
.evaluation > .proof {
    margin: 10px;
    overflow-x: scroll;
}

.errors {
    background-color: rgb(255, 190, 202);
    padding: 5px 10px;
    border: 1px solid red;
    margin-bottom: 10px;
}

.errors h3 {
    color: red;
    margin: 0;
}

.errors dt {
    display: inline-block;
    float: left;
    width: 100px;
    text-align: right;
    padding: 10px;
    clear: both;
    font-style: italic;
}

.errors dd {
    display: inline-block;
    margin: 0;
    padding: 10px;
    float: left;
    font-weight: bold;
}

.subscript { 
    position: relative; 
    bottom: -0.2em; 
    font-size: 80%; 
}

.logicName {
    display: inline-block;
    width: 50px;
    font-size: 16px;
    height: 24px;
}

.logicHelp a {
    display: inline-block;
    background-image: url(../img/help_icon.png);
    width:18px;
    height: 24px;
    background-position-y: 6px;
    background-repeat: no-repeat;
}

.proof pre {
    overflow-x: scroll;
}
.hidden {
    display: none;
}

.clear {
    clear: both;
}