body {
    font-size: 95%;
}
.truth-table-wrapper {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}
.clear {
    clear: both;
}
.truth-table {
    border-collapse: collapse;
    border: 2px solid gray;
}
.truth-table th {
    padding: 8px;
}
.truth-table th.operator-name {
    font-size: 90%;
    font-weight: normal;
}
.truth-table td.value-header {
    font-weight: bold;
}

.truth-table td.value-header.row {
    font-weight: bold;
    border-bottom: 1px solid black;
}
.truth-table td.value-header.column {
    text-align: right;
    border-right: 1px solid black;
}

.truth-table td.operator-symbol {
    font-size: 110%;
}
.truth-table td.operator-symbol.arity-1 {
    border-bottom: 1px solid black;
}
.truth-table td.operator-symbol.arity-2 {
    text-align: right;
}
.truth-table td {
    padding: 10px;
}

.contents > ul li p {
    margin-block-end: 0;
}