.truth-table {
    border: 2px solid gray;
}
#semantics .truth-table thead > tr > th.operator-name,
.truth-table th.operator-name {
    font-size: 90%;
    font-weight: normal;
}
#semantics .truth-table th.value-header,
#semantics .truth-table th.operator-symbol,
.truth-table th.value-header,
.truth-table th.operator-symbol {
    font-weight: bold;
}
#semantics .truth-table tbody > tr > th.value-header.row,
.truth-table tbody > tr > th.value-header.row {
    border-bottom: 1px solid black;
}
#semantics .truth-table tbody > tr > th.value-header.column,
.truth-table th.value-header.column {
    text-align: right;
    border-right: 1px solid black;
}
#semantics .truth-table tbody > tr > th.operator-symbol,
.truth-table th.operator-symbol {
    font-size: 110%;
}
#semantics .truth-table tbody > tr > th.operator-symbol.arity-1,
.truth-table th.operator-symbol.arity-1 {
    border-bottom: 1px solid black;
}
#semantics .truth-table thead > tr > th.operator-name {
    text-align: right;
}

/* remove exclamation point from admonitions */
/* .fa-exclamation-circle:before, */
/* .wy-inline-validate.wy-inline-validate-info .wy-input-context:before, */
/* .wy-inline-validate.wy-inline-validate-warning .wy-input-context:before, */
.rst-content .admonition-title:before {
    content: "";
}