body {
    font-size: 95%;
}

.clear {
    clear: both;
}

.subscript {
    vertical-align: sub;
    font-size: 80%;
}

/* Truth Tables */
.truth-table-wrapper {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}
.truth-table {
    border-collapse: collapse;
    border: 2px solid gray;
}
.truth-table th {
    padding: 8px;
}
.truth-table th.operator-name {
    font-size: 90%;
    font-weight: normal;
}
.truth-table th.value-header,
.truth-table th.operator-symbol {
    font-weight: bold;
}
.truth-table th.value-header.row {
    border-bottom: 1px solid black;
}
.truth-table th.value-header.column {
    text-align: right;
    border-right: 1px solid black;
}
.truth-table th.operator-symbol {
    font-size: 110%;
}
.truth-table th.operator-symbol.arity-1 {
    border-bottom: 1px solid black;
}
.truth-table th.operator-symbol.arity-2 {
    text-align: right;
}
.truth-table td {
    padding: 10px;
}
