{% set col1len = 3 %}
{% set col2len = ((premises + (conclusion,))|map('length')|list + [8])|max %}
{% set f = "%-" + ((col2len)|string) + 's' %}
{% set rowlen = col1len + col2len + 3 %}
{% set rowline = '-' * rowlen %}
+{{ '-' * rowlen }}+
| Argument {{ ' ' * (rowlen - 10) }}|
|{{ '=' * rowlen }}|
{% for premise in premises -%}
    | [P]  {{ f | format(premise) }}|
{% endfor -%}
{% if premises -%}
    |{{ '-' * rowlen }}|
{% endif -%}
| [C]  {{ f | format(conclusion) }}|
+{{ '-' * rowlen }}+
