{% macro nw(node) %}
{{ lw(node.sentence) if node.has('sentence') -}}
{{ ' w' ~ node.world if node.has('world') -}}
{{ ' [+]' if node.designated -}}
{{ ' [-]' if node.designated == False -}}
{{ 'w' ~ node.world1 ~ 'Rw' ~ node.world2 if node.has('world1', 'world2') -}}
{{ ' ...' if node.has('ellipsis') -}}
{{ ' *' if node.ticked -}}
{{ '(x)' if node.flag == 'closure' else '; ' -}}
{% endmacro %}
{{ '-- ' if structure.depth -}}
{%- for node in structure.nodes -%}
    {{ nw(node) }}
{%- endfor -%}
{{ ' .' if structure.children -}}