{%- import 'model.jinja2' as model_helper -%}
<div class="html-writer-models drag-panel {{- ' single-branch inspected' if tableau.stats['branches'] == 1 }}">
    <div class="collapser-wrapper positioned-left models-wrapper">
        <div class="collapser-heading drag-handle collapsed"  title="Models"><span class="heading-title">Model</span></div>
        <div class="collapser-contents hidden">
            {% if tableau.stats['open_branches'] > 0 %}
                <div class="message select-a-branch">Select an open branch to view model</div>
                {% for branch in tableau.open_branches() %}
                    {{ model_helper.write_model(lw, branch) }}
                {% endfor %}
            {% else %}
                <div class="message no-models">No open branches</div>
            {% endif %}
            <input type="hidden" class="position-select" value="left"/>
        </div>
    </div>
</div>