{%- macro write_node(lw, tab, node) -%}
    <div class="node {{- ' ticked' if node.ticked }}"{#
        #} id="node_{{ node.id }}"{#
        #} data-node-id="{{ node.id }}"{#
        #} data-step="{{ node.step }}"{#
        #} {% if node.ticked -%}
            data-ticked-step="{{ node.ticked_step }}"
        {%- endif %}>
        <span class="node-props {{- ' ticked' if node.ticked}}">
            {%- if node.has('sentence') -%}
                {% set sentence_raw = lw.write(node['sentence']) -%}
                <span class="sentence">{{ sentence_raw if lw.encoding == 'html' else sentence_raw|e }}</span>
                {%- if node.has('world') -%}
                    <span class="world">, w<sub>{{ node['world'] }}</sub></span>
                {%- endif -%}
            {%- endif -%}
            {%- if node.has('designated') -%}
                <span class="designation {{ 'designated' if node['designated'] else 'undesignated' }}"></span>
            {%- endif -%}
            {%- if node.has('world1') and node.has('world2') -%}
                <span class="access">w<sub>{{ node['world1'] }}</sub>Rw<sub>{{ node['world2'] }}</sub></span>
            {%- endif -%}
            {%- if node.has('ellipsis') -%}
                <span class="ellipsis"></span>
            {%- endif -%}
            {%- if node.has('is_flag') -%}
                <span class="flag {{ node['flag']|e }}" title="{{ node['info']|e }}"></span>
            {%- endif -%}
        </span>
    </div>
{%- endmacro %}