{%- import 'helper.jinja2' as helper -%}
{%- import 'structure.jinja2' as structure -%}
{%- if opts.inline_css %}
<style>
    {% include 'tableau.css' %}
</style>
{%- endif %}
<div class="tableau-wrapper {{ opts.get('wrap_classes', [])|join(' ') }}">
    <div id="{{ opts.get('element_id', 'tableau_' ~ tableau.id)|e }}"
        class="tableau {{ opts.get('classes', [])|join(' ') }}"
        data-step="{{ tableau.history|length }}"
        data-num-steps="{{ tableau.history|length }}"
        data-current-width-pct="100">
        {{ structure.write_structure(lw, tableau, tableau.tree) }}
    </div>
    <div class="clear"></div>
</div>
